Repository edfactor/encyclo-mapoli: changes, and which Bitbucket steps are due for each by the changed paths.
All: Frontend TSC + Lint, Check frontend for vulnerabilities, Check Backend API for vulnerabilities, Analyze Backend Changes (Selective Testing), Build and Test Backend API, Build and Test Frontend UI

Path conditions:
  Frontend TSC + Lint: any of: src/ui/**/*.ts, src/ui/**/*.tsx, src/ui/**/*.js, src/ui/**/*.jsx
  Check frontend for vulnerabilities: any of: src/ui/**
  Check Backend API for vulnerabilities: any of: src/services/**/*.cs, src/services/**/*.csproj, src/services/**/*.sln, src/services/**/*.slnx, src/services/**/*.json, src/services/**/*.config
  Analyze Backend Changes (Selective Testing): any of: src/services/**/*.cs, src/services/**/*.csproj, src/services/**/*.sln, src/services/**/*.slnx, src/services/**/*.json, src/services/**/*.config
  Build and Test Backend API: any of: src/services/**/*.cs, src/services/**/*.csproj, src/services/**/*.sln, src/services/**/*.slnx, src/services/**/*.json, src/services/**/*.config
  Build and Test Frontend UI: any of: src/ui/**/*.ts, src/ui/**/*.tsx, src/ui/**/*.js, src/ui/**/*.jsx

change
  src/services/src/Demoulas.ProfitSharing.Api/Program.cs
  src/services/src/Demoulas.ProfitSharing.Services/Lookup/StoreLookupService.cs
Due: Check Backend API for vulnerabilities, Analyze Backend Changes (Selective Testing), Build and Test Backend API

added context back
  src/services/src/Demoulas.ProfitSharing.Api/Program.cs
Due: Check Backend API for vulnerabilities, Analyze Backend Changes (Selective Testing), Build and Test Backend API

Refactor StoreLookupService to use new data context factory
  src/services/src/Demoulas.ProfitSharing.Services/Lookup/StoreLookupService.cs
Due: Check Backend API for vulnerabilities, Analyze Backend Changes (Selective Testing), Build and Test Backend API

changes using UseWarehouseContext
  src/services/src/Demoulas.ProfitSharing.Services/Lookup/StoreLookupService.cs
Due: Check Backend API for vulnerabilities, Analyze Backend Changes (Selective Testing), Build and Test Backend API

Updates required to track project changes
  src/services/src/Demoulas.ProfitSharing.Security/Extensions/SecurityExtension.cs
  src/services/src/Demoulas.ProfitSharing.Services/Services/Adjustments/ProfitShareEdit/ProfitShareEditService.cs
  src/services/src/Demoulas.ProfitSharing.Services/Services/Reports/EmbeddedSqlService.cs
  src/services/src/Demoulas.ProfitSharing.Services/Services/Reports/FrozenReportService.cs
  src/services/src/Demoulas.ProfitSharing.Services/Services/Reports/ProfitSharingSummaryReportService.cs
  src/services/src/Demoulas.ProfitSharing.Services/Services/Reports/TerminatedEmployeeAndBeneficiaryReport/TerminatedEmployeeReportService.cs
  src/services/tests/Demoulas.ProfitSharing.IntegrationTests/PristineDataContextFactory.cs
  src/services/tests/Demoulas.ProfitSharing.IntegrationTests/Reports/Termination/TerminatedEmployeeAndBeneficiaryReportIntegrationTests.cs
  src/services/tests/Demoulas.ProfitSharing.IntegrationTests/Reports/YearEnd/PristineBaseTest.cs
  src/services/tests/Demoulas.ProfitSharing.IntegrationTests/Reports/YearEnd/ProfitEdit/ProfitEditReportTests.cs
  src/services/tests/Demoulas.ProfitSharing.IntegrationTests/Reports/YearEnd/ProfitShareUpdate/ProfitShareUpdateReport.cs
  src/services/tests/Demoulas.ProfitSharing.IntegrationTests/Reports/YearEnd/ProfitShareUpdate/ProftShareUpdateTests.cs
  src/services/tests/Demoulas.ProfitSharing.IntegrationTests/Reports/YearEnd/UpdateSummary/UpdateSummaryTests.cs
  src/services/tests/Demoulas.ProfitSharing.IntegrationTests/Reports/YearEnd/YearEndServiceTests.cs
Due: Check Backend API for vulnerabilities, Analyze Backend Changes (Selective Testing), Build and Test Backend API

changes to fix bugs
  src/ui/src/pages/FiscalClose/ProfitShareByStore/BreakdownReport/AssociatesGrid.tsx
  src/ui/src/pages/FiscalClose/ProfitShareByStore/BreakdownReport/QPAY066TA.tsx
  src/ui/src/pages/FiscalClose/ProfitShareByStore/BreakdownReport/QPAY066TABreakdownParameters.tsx
  src/ui/src/pages/FiscalClose/ProfitShareByStore/BreakdownReport/StoreManagementGrid.tsx
Due: Frontend TSC + Lint, Check frontend for vulnerabilities, Build and Test Frontend UI

merge changes to develop, remove StoreLookupServiceMock
  src/services/src/Demoulas.ProfitSharing.Services/Extensions/ServicesExtension.cs
  src/services/src/Demoulas.ProfitSharing.Services/Services/Lookups/StoreLookupService.cs
  src/services/src/Demoulas.ProfitSharing.Services/Services/Lookups/StoreLookupServiceMock.cs
  src/services/tests/Demoulas.ProfitSharing.UnitTests/Reports/YearEnd/BreakdownGrandTotalsUnder21Tests.cs
Due: Check Backend API for vulnerabilities, Analyze Backend Changes (Selective Testing), Build and Test Backend API

Add multi-schema support, catch up with changes, extend year-end matching workflow
  src/services/tests/yematchrunner/YEMatch/Activities/ActivityFactory.cs
  src/services/tests/yematchrunner/YEMatch/ArrangeActivites/DropBadBenesReady.cs
  src/services/tests/yematchrunner/YEMatch/ArrangeActivites/UpdateNavigation.cs
  src/services/tests/yematchrunner/YEMatch/AssertActivities/BaseSqlActivity.cs
  src/services/tests/yematchrunner/YEMatch/AssertActivities/TestActivityFactory.cs
  src/services/tests/yematchrunner/YEMatch/AssertActivities/TestPayProfitSelectedColumns.cs
  src/services/tests/yematchrunner/YEMatch/ReadyActivities/IReadySshClientFactory.cs
  src/services/tests/yematchrunner/YEMatch/ReadyActivities/ReadyActivity.cs
  src/services/tests/yematchrunner/YEMatch/ReadyActivities/ReadySshClientFactory.cs
  src/services/tests/yematchrunner/YEMatch/Runs/AutoMatchRun.cs
  src/services/tests/yematchrunner/YEMatch/Runs/GoldenExpressRun.cs
  src/services/tests/yematchrunner/YEMatch/Runs/GoldenYearEndRun.cs
  src/services/tests/yematchrunner/YEMatch/Runs/Runnable.cs
  src/services/tests/yematchrunner/YEMatch/Runs/TinkerRun.cs
  src/services/tests/yematchrunner/YEMatch/SmartActivities/ApiClient.cs
  src/services/tests/yematchrunner/YEMatch/SmartActivities/SmartApiClientFactory.cs
  src/services/tests/yematchrunner/YEMatch/YeMatchOptions.cs
  src/services/tests/yematchrunner/gen
Due: Check Backend API for vulnerabilities, Analyze Backend Changes (Selective Testing), Build and Test Backend API

spelling clarity
  src/services/tests/yematchrunner/YEMatch/ArrangeActivites/DropBadBenesReady.cs
  src/services/tests/yematchrunner/gen
Due: Check Backend API for vulnerabilities, Analyze Backend Changes (Selective Testing), Build and Test Backend API

fixed unit tests
  src/services/tests/Demoulas.ProfitSharing.UnitTests.Common/Common/Constants.cs
  src/services/tests/Demoulas.ProfitSharing.UnitTests.Common/Mocks/MockDataContextFactory.cs
  src/services/tests/Demoulas.ProfitSharing.UnitTests.Common/Mocks/MockEmbeddedSqlService.cs
  src/services/tests/Demoulas.ProfitSharing.UnitTests.Common/Mocks/ScenarioFactory.cs
Due: Check Backend API for vulnerabilities, Analyze Backend Changes (Selective Testing), Build and Test Backend API

Todays url renames
  src/services/tests/yematchrunner/YEMatch/AssertActivities/TestEnrollmentComparison.cs
  src/services/tests/yematchrunner/YEMatch/Runs/AutoMatchRun.cs
  src/services/tests/yematchrunner/YEMatch/SmartActivities/SmartApiClientFactory.cs
  src/services/tests/yematchrunner/YEMatch/YeMatchOptions.cs
Due: Check Backend API for vulnerabilities, Analyze Backend Changes (Selective Testing), Build and Test Backend API

restore old service for now
  src/services/src/Demoulas.ProfitSharing.Api/Properties/launchSettings.json
  src/services/src/Demoulas.ProfitSharing.Services/Extensions/ServicesExtension.cs
  src/services/src/Demoulas.ProfitSharing.Services/Services/YearEnd/YearEndChangeCalculator.cs
  src/services/src/Demoulas.ProfitSharing.Services/Services/YearEnd/YearEndServiceOld.cs
  src/services/tests/Demoulas.ProfitSharing.IntegrationTests/Reports/YearEnd/PristineBaseTest.cs
  src/services/tests/Demoulas.ProfitSharing.IntegrationTests/Reports/YearEnd/ProfitShareUpdate/ProfitShareUpdateReport.cs
  src/services/tests/Demoulas.ProfitSharing.IntegrationTests/Reports/YearEnd/YearEndServiceTests.cs
Due: Check Backend API for vulnerabilities, Analyze Backend Changes (Selective Testing), Build and Test Backend API

Enhance beneficiary inquiry: telemetry, UX, consistency
  src/services/src/Demoulas.ProfitSharing.Endpoints/Endpoints/Beneficiaries/BeneficiaryDisbursementEndpoint.cs
  src/services/src/Demoulas.ProfitSharing.Endpoints/Endpoints/Beneficiaries/Inquiry/BeneficiaryDetailEndpoint.cs
  src/services/src/Demoulas.ProfitSharing.Endpoints/Endpoints/Beneficiaries/Inquiry/BeneficiaryEndpoint.cs
  src/services/src/Demoulas.ProfitSharing.Endpoints/Endpoints/Beneficiaries/Inquiry/BeneficiarySearchFilterEndpoint.cs
  src/services/src/Demoulas.ProfitSharing.Services/Services/Beneficiaries/BeneficiaryService.cs
  src/services/src/Demoulas.ProfitSharing.Services/Services/InquiriesAndAdjustments/BeneficiaryInquiry/BeneficiaryInquiryService.cs
  src/ui/src/pages/Beneficiaries/BeneficiaryInquiry.tsx
  src/ui/src/pages/Beneficiaries/BeneficiaryInquirySearchFilter.tsx
  src/ui/src/pages/Beneficiaries/BeneficiaryRelationshipsGrids.tsx
  src/ui/src/pages/Beneficiaries/CreateBeneficiary.tsx
  src/ui/src/pages/Beneficiaries/IndividualBeneficiaryView.tsx
  src/ui/src/pages/Beneficiaries/MemberResultsGrid.tsx
Due: Frontend TSC + Lint, Check frontend for vulnerabilities, Check Backend API for vulnerabilities, Analyze Backend Changes (Selective Testing), Build and Test Backend API, Build and Test Frontend UI

Add back navigation for member selection and update selection history management
  src/ui/src/pages/Beneficiaries/BeneficiaryInquiry.tsx
Due: Frontend TSC + Lint, Check frontend for vulnerabilities, Build and Test Frontend UI

Enable conditional disabling of member type selection in beneficiary inquiry form
  src/ui/src/pages/Beneficiaries/BeneficiaryInquirySearchFilter.tsx
Due: Frontend TSC + Lint, Check frontend for vulnerabilities, Build and Test Frontend UI

PS-2485 Refactor ForfeitGridColumns: simplify forfeitures column definition and remove unused imports
  src/ui/src/pages/FiscalClose/Forfeit/ForfeitGridColumns.ts
Due: Frontend TSC + Lint, Check frontend for vulnerabilities, Build and Test Frontend UI

Refactor GetProfitShareForfeitColumns: remove options parameter and associated interface
  src/ui/src/pages/FiscalClose/Forfeit/ForfeitGridColumns.ts
Due: Frontend TSC + Lint, Check frontend for vulnerabilities, Build and Test Frontend UI

Refine implementation based on Bene allocations
  src/services/src/Demoulas.ProfitSharing.Services/Services/Reports/Breakdown/BreakdownReportService.cs
Due: Check Backend API for vulnerabilities, Analyze Backend Changes (Selective Testing), Build and Test Backend API

Implement sensitive fields management and remove unused imports in beneficiary endpoints
  src/services/src/Demoulas.ProfitSharing.Endpoints/Base/ProfitSharingEndpoint.cs
  src/services/src/Demoulas.ProfitSharing.Endpoints/Base/SensitiveFieldCache.cs
  src/services/src/Demoulas.ProfitSharing.Endpoints/Endpoints/Beneficiaries/BeneficiaryDisbursementEndpoint.cs
  src/services/src/Demoulas.ProfitSharing.Endpoints/Endpoints/Beneficiaries/Inquiry/BeneficiaryDetailEndpoint.cs
  src/services/src/Demoulas.ProfitSharing.Endpoints/Endpoints/Beneficiaries/Inquiry/BeneficiaryEndpoint.cs
  src/services/src/Demoulas.ProfitSharing.Endpoints/Endpoints/Beneficiaries/Inquiry/BeneficiarySearchFilterEndpoint.cs
  src/services/src/Demoulas.ProfitSharing.Endpoints/Extensions/TelemetryExtensions.cs
  src/services/src/Demoulas.ProfitSharing.Endpoints/GlobalUsings.cs
  src/ui/src/pages/FiscalClose/Forfeit/ForfeitGrid.tsx
Due: Frontend TSC + Lint, Check frontend for vulnerabilities, Check Backend API for vulnerabilities, Analyze Backend Changes (Selective Testing), Build and Test Backend API, Build and Test Frontend UI

Refactor SensitiveFieldCache: streamline AddSensitiveFields logic and introduce AddLeafOrRecurse helper method
  src/services/src/Demoulas.ProfitSharing.Endpoints/Base/SensitiveFieldCache.cs
  src/ui/src/pages/FiscalClose/Forfeit/ForfeitGrid.tsx
Due: Frontend TSC + Lint, Check frontend for vulnerabilities, Check Backend API for vulnerabilities, Analyze Backend Changes (Selective Testing), Build and Test Backend API, Build and Test Frontend UI

Various fixes
  src/services/src/Demoulas.ProfitSharing.Services/Services/Reports/Breakdown/BreakdownReportService.cs
Due: Check Backend API for vulnerabilities, Analyze Backend Changes (Selective Testing), Build and Test Backend API

Remove PS-XXXX refs from test descriptions, drop Telemetry test
  src/services/tests/Demoulas.ProfitSharing.UnitTests.Architecture/Architecture/SecurityAndTelemetryArchitectureTests.cs
Due: Check Backend API for vulnerabilities, Analyze Backend Changes (Selective Testing), Build and Test Backend API

Fix reset button to clear prior grid results
  src/ui/src/pages/Administration/AuditSearch/AuditSearch.tsx
  src/ui/src/pages/Administration/AuditSearch/AuditSearchManager.tsx
Due: Frontend TSC + Lint, Check frontend for vulnerabilities, Build and Test Frontend UI

moved storeresponse classes to one class moved request files to proper places
  src/services/src/Demoulas.ProfitSharing.Common/Contracts/Request/Lookups/StoreByIdRequest.cs
  src/services/src/Demoulas.ProfitSharing.Common/Contracts/Response/Lookup/StoreResponses.cs
  src/services/src/Demoulas.ProfitSharing.Common/Interfaces/IStoreLookupService.cs
  src/services/src/Demoulas.ProfitSharing.Endpoints/Endpoints/Lookups/StoreByIdEndpoint.cs
  src/services/src/Demoulas.ProfitSharing.Endpoints/Endpoints/Lookups/StoreListEndpoint.cs
  src/services/src/Demoulas.ProfitSharing.Services/Services/Lookups/StoreLookupService.cs
Due: Check Backend API for vulnerabilities, Analyze Backend Changes (Selective Testing), Build and Test Backend API

added code to show the number or rows
  src/ui/src/pages/Reports/AdhocProfLetter73/AdhocProfLetter73Grid.tsx
Due: Frontend TSC + Lint, Check frontend for vulnerabilities, Build and Test Frontend UI

Update Year End Service to closely track READY
  src/services/src/Demoulas.ProfitSharing.Services/Extensions/ServicesExtension.cs
  src/services/src/Demoulas.ProfitSharing.Services/Services/YearEnd/YearEndChangeCalculator.cs
  src/services/src/Demoulas.ProfitSharing.Services/Services/YearEnd/YearEndService.cs
  src/services/src/Demoulas.ProfitSharing.Services/Services/YearEnd/YearEndServiceOld.cs
  src/services/tests/Demoulas.ProfitSharing.IntegrationTests/ForfeitureAdjustments/ForfeitureAdjustmentTests.cs
  src/services/tests/Demoulas.ProfitSharing.IntegrationTests/Reports/YearEnd/PristineBaseTest.cs
  src/services/tests/Demoulas.ProfitSharing.IntegrationTests/Reports/YearEnd/YearEndServiceTests.cs
Due: Check Backend API for vulnerabilities, Analyze Backend Changes (Selective Testing), Build and Test Backend API

performance fix - looks like it does a bit to optimize but not sure on final efficacy
  src/services/src/Demoulas.ProfitSharing.Services/Services/Reports/EmployeesWithProfitsOver73Service.cs
Due: Check Backend API for vulnerabilities, Analyze Backend Changes (Selective Testing), Build and Test Backend API

changed rest interface to bring in active and vested only instead of active only for the store
  src/services/src/Demoulas.ProfitSharing.Endpoints/Endpoints/Reports/YearEnd/BreakdownEndpoint.cs
Due: Check Backend API for vulnerabilities, Analyze Backend Changes (Selective Testing), Build and Test Backend API

Refactor telemetry and standardize page break formatting
  src/services/src/Demoulas.ProfitSharing.Common/Telemetry/EndpointTelemetry.cs
  src/services/src/Demoulas.ProfitSharing.Common/Telemetry/ServiceCollectionExtensions.cs
  src/services/src/Demoulas.ProfitSharing.Common/Telemetry/TelemetryConfiguration.cs
  src/services/src/Demoulas.ProfitSharing.Common/Telemetry/TelemetryMiddleware.cs
  src/services/src/Demoulas.ProfitSharing.Services/Services/ItOperations/Certificates/CertificateService.cs
  src/services/src/Demoulas.ProfitSharing.Services/Services/Reports/AdhocTerminatedEmployeesService.cs
  src/services/src/Demoulas.ProfitSharing.Services/Services/Reports/EmployeesWithProfitsOver73Service.cs
  src/services/src/Demoulas.ProfitSharing.Services/Services/Reports/PrintFormatting/PrintFormatHelper.cs
  src/services/tests/Demoulas.ProfitSharing.IntegrationTests/Reports/YearEnd/ProfitShareUpdate/ProftShareUpdateTests.cs
Due: Check Backend API for vulnerabilities, Analyze Backend Changes (Selective Testing), Build and Test Backend API

namespace fix
  src/services/src/Demoulas.ProfitSharing.Endpoints/Endpoints/Lookups/StoreListEndpoint.cs
Due: Check Backend API for vulnerabilities, Analyze Backend Changes (Selective Testing), Build and Test Backend API

added breakdown class member for api to access
  src/services/src/Demoulas.ProfitSharing.Common/Interfaces/IBreakdownService.cs
  src/services/src/Demoulas.ProfitSharing.Services/Services/Reports/Breakdown/BreakdownReportService.cs
Due: Check Backend API for vulnerabilities, Analyze Backend Changes (Selective Testing), Build and Test Backend API

line breaks
  src/services/src/Demoulas.ProfitSharing.Common/Interfaces/IBreakdownService.cs
Due: Check Backend API for vulnerabilities, Analyze Backend Changes (Selective Testing), Build and Test Backend API

line
  src/services/src/Demoulas.ProfitSharing.Common/Interfaces/IBreakdownService.cs
Due: Check Backend API for vulnerabilities, Analyze Backend Changes (Selective Testing), Build and Test Backend API

removed calcs in BreakdownReportService since already done in the totalservice so numbers were being added twice
  src/services/src/Demoulas.ProfitSharing.Services/Services/Reports/Breakdown/BreakdownReportService.cs
Due: Check Backend API for vulnerabilities, Analyze Backend Changes (Selective Testing), Build and Test Backend API

Update Distribution Inquiry label to (008-14I) in nav SQL
  src/database/ready_import/Navigations/add-navigation-data.sql
  src/database/ready_import/Navigations/add-uat-navigation-data.sql
Due: none

Refactor telemetry and report formatting: remove unused telemetry configuration and middleware, streamline print formatting methods, and ensure consistent line endings in report outputs.
  src/ui/src/components/LabelValueSection.tsx
  src/ui/src/pages/Distributions/AddDistribution/AddDistributionForm.tsx
  src/ui/src/pages/InquiriesAndAdjustments/MasterInquiry/MasterInquiryMemberDetails.tsx
Due: Frontend TSC + Lint, Check frontend for vulnerabilities, Build and Test Frontend UI

Update dependencies, type safety, and input handling
  src/services/Directory.Packages.props
  src/services/tests/Demoulas.ProfitSharing.UnitTests/Endpoints/Distributions/UpdateDistributionEndpointTests.cs
  src/ui/src/pages/Administration/ManageCommentTypes/AddCommentTypeDialog.tsx
  src/ui/src/pages/Administration/ManageTaxCodes/AddTaxCodeDialog.tsx
  src/ui/src/pages/Beneficiaries/BeneficiaryInquirySearchFilter.tsx
  src/ui/src/pages/Beneficiaries/CreateBeneficiary.tsx
  src/ui/src/pages/DecemberActivities/ForfeituresAdjustment/ForfeituresAdjustmentSearchFilter.tsx
  src/ui/src/pages/DecemberActivities/ManageExecutiveHoursAndDollars/ManageExecutiveHoursAndDollarsSearchFilter.tsx
  src/ui/src/pages/DecemberActivities/MilitaryContribution/MilitaryContributionSearchFilter.tsx
  src/ui/src/pages/Distributions/DistributionInquiry/DistributionInquirySearchFilter.tsx
  src/ui/src/pages/Distributions/DistributionInquiry/NewEntryDialog.tsx
  src/ui/src/pages/InquiriesAndAdjustments/MasterInquiry/MasterInquirySearchFilter.tsx
  src/ui/src/pages/InquiriesAndAdjustments/Reversals/ReversalsSearchFilter.tsx
  src/ui/src/pages/Reports/AccountHistoryReport/AccountHistoryReportFilterSection.tsx
  src/ui/src/pages/Reports/QPAY066xAdHocReports/QPAY066xAdHocSearchFilter.tsx
  src/ui/src/utils/inputFormatters.ts
Due: Frontend TSC + Lint, Check frontend for vulnerabilities, Check Backend API for vulnerabilities, Analyze Backend Changes (Selective Testing), Build and Test Backend API, Build and Test Frontend UI
