Repository edfactor/encyclo-mapoli: changes, and which Bitbucket steps are due for each by the changed paths.
All: Frontend TSC + Lint, Check frontend for vulnerabilities, Check Backend API for vulnerabilities, Analyze Backend Changes (Selective Testing), Build and Test Backend API, Build and Test Frontend UI

Frontend TSC + Lint:
  image: node:22-alpine
  max-time: 10
  script:
  - cd src/ui
  - echo "Running frontend tsc and linting on cloud runner..."
  - apk add --no-cache git
  - npm install -g npm@latest
  - 'cat > .npmrc << EOF
  
    registry=https://demoulas.jfrog.io/artifactory/api/npm/demoulas-npm-virt/
  
  ...

Check frontend for vulnerabilities:
  image: node:22-alpine
  max-time: 10
  script:
  - cd src/ui
  - echo "Checking npm vulnerabilities on cloud runner..."
  - 'cat > .npmrc << EOF
  
    registry=https://demoulas.jfrog.io/artifactory/api/npm/demoulas-npm-virt/
  
  ...

Check Backend API for vulnerabilities:
  runs-on:
  - windows
  - self.hosted
  script:
  - $env:SolutionDir = ".\src\services"
  - echo "Checking dotnet vulnerabilities"
  - cd $env:SolutionDir
  - dotnet --info
  - dotnet nuget list source
  - dotnet restore Demoulas.ProfitSharing.slnx
  ...

Analyze Backend Changes (Selective Testing):
  runs-on:
  - windows
  - self.hosted
  artifacts:
  - selective-test-decision.json
  script:
  ...

Build and Test Backend API:
  runs-on:
  - windows
  - self.hosted
  script:
  ...

Build and Test Frontend UI:
  image: node:22-alpine
  max-time: 10
  artifacts:
  - src/ui/coverage/**
  - src/ui/FE_Tests/**
  script:
  - cd src/ui
  - echo "Running frontend tests on cloud runner..."
  - apk add --no-cache git
  - npm install -g npm@latest
  - npm config list --json
  - env | grep -i npm_config
  - 'cat > .npmrc << EOF
  
  ...

Update Scalar.AspNetCore to v2.12.11 in packages file
  src/services/Directory.Packages.props
Due: none

Format totals in YTDWagesGrid with helper functions
  src/ui/src/pages/FiscalClose/YTDWagesExtract/YTDWagesGrid.tsx
Due: Frontend TSC + Lint, Check frontend for vulnerabilities, Build and Test Frontend UI

Update PDF header and remove cover page utilities
  src/services/src/Demoulas.ProfitSharing.Reporting/Core/PdfUtilities.cs
Due: Check Backend API for vulnerabilities, Analyze Backend Changes (Selective Testing), Build and Test Backend API

PS-2493 - Redesign YTD totals summary and widen PDF address block
  src/services/src/Demoulas.ProfitSharing.Reporting/Core/PdfUtilities.cs
  src/ui/src/pages/FiscalClose/YTDWagesExtract/YTDWagesGrid.tsx
Due: Frontend TSC + Lint, Check frontend for vulnerabilities, Check Backend API for vulnerabilities, Analyze Backend Changes (Selective Testing), Build and Test Backend API, Build and Test Frontend UI

Update ReportSummary component usage to support compact variant in YTDWagesGrid
  src/ui/src/components/ReportSummary.tsx
  src/ui/src/pages/FiscalClose/YTDWagesExtract/YTDWagesGrid.tsx
Due: Frontend TSC + Lint, Check frontend for vulnerabilities, Build and Test Frontend UI

Refactor ForfeitGrid to enhance table layout and add spacer column in ForfeitGridColumns
  src/ui/src/pages/FiscalClose/Forfeit/ForfeitGrid.tsx
  src/ui/src/pages/FiscalClose/Forfeit/ForfeitGridColumns.ts
Due: Frontend TSC + Lint, Check frontend for vulnerabilities, Build and Test Frontend UI

Add grid options to ForfeitGrid for responsive column sizing
  src/ui/src/pages/FiscalClose/Forfeit/ForfeitGrid.tsx
Due: Frontend TSC + Lint, Check frontend for vulnerabilities, Build and Test Frontend UI

Add left alignment to Forfeitures column header in ForfeitGrid
  src/ui/src/pages/FiscalClose/Forfeit/ForfeitGridColumns.ts
Due: Frontend TSC + Lint, Check frontend for vulnerabilities, Build and Test Frontend UI

Upgrade library
  src/ui/package-lock.json
  src/ui/package.json
  src/ui/src/App.tsx
  src/ui/src/components/DSMPaginatedGrid/DSMPaginatedGrid.tsx
  src/ui/src/components/DSMPaginatedGrid/__tests__/DSMPaginatedGrid.test.tsx
  src/ui/src/hooks/useGridPagination.ts
  src/ui/src/pages/Administration/ManageBanks/ManageBanks.tsx
  src/ui/src/pages/Administration/ManageBanks/ManageBanksColumns.tsx
  src/ui/src/pages/Administration/ManageBanks/components/CreateBankAccountDialog.tsx
  src/ui/src/pages/Administration/ManageBanks/components/CreateBankDialog.tsx
  src/ui/src/pages/Administration/ManageBanks/components/ManageBankAccounts.tsx
  src/ui/src/pages/Administration/ManageBanks/components/ManageBankAccountsColumns.tsx
  src/ui/src/pages/Administration/ManageBanks/hooks/useEditableBankAccounts.ts
  src/ui/src/pages/Administration/ManageBanks/hooks/useManageBankAccounts.ts
  src/ui/src/pages/Administration/ManageBanks/hooks/useManageBanks.ts
  src/ui/src/pages/Beneficiaries/BeneficiaryInquiry.tsx
  src/ui/src/pages/Beneficiaries/IndividualBeneficiaryView.tsx
  src/ui/src/pages/DecemberActivities/DemographicBadgesNotInPayprofit/__tests__/DemographicBadgesNotInPayprofitGrid.test.tsx
  src/ui/src/pages/DecemberActivities/DistributionsAndForfeitures/DistributionsAndForfeituresGrid.tsx
  src/ui/src/pages/DecemberActivities/DuplicateSSNsOnDemographics/__tests__/DuplicateSSNsOnDemographicsGrid.test.tsx
  src/ui/src/pages/FiscalClose/PAY426Reports/PAY426N/ReportGrid.tsx
  src/ui/src/pages/FiscalClose/PaymasterUpdate/PayMasterUpdateGrid.tsx
  src/ui/src/pages/Reports/AccountHistoryReport/__test__/AccountHistoryReportTable.test.tsx
  src/ui/src/utils/gridPersistence.ts
  src/ui/src/utils/viewBadgeLinkRenderer.tsx
  src/ui/vitest.config.ts
Due: Frontend TSC + Lint, Check frontend for vulnerabilities, Build and Test Frontend UI

Update docs
  src/services/tests/yematchrunner/README.md
Due: none

Use tailwind classes, not smart-ui css
  src/ui/src/components/Layout/PSLayout.tsx
  src/ui/src/components/Layout/WelcomeDisplay.tsx
  src/ui/src/components/MenuBar/MenuBar.tsx
  src/ui/src/components/MenuBar/NavButton.tsx
  src/ui/tailwind.config.js
Due: Frontend TSC + Lint, Check frontend for vulnerabilities, Build and Test Frontend UI

Formatting
  src/ui/src/pages/DecemberActivities/ManageExecutiveHoursAndDollars/ManageExecutiveHoursAndDollarsGrid.tsx
  src/ui/src/pages/DecemberActivities/ManageExecutiveHoursAndDollars/ManageExecutiveHoursAndDollarsSearchFilter.tsx
  src/ui/src/pages/FiscalClose/PAY426Reports/PAY426N/GetProfitSharingReportGridColumns.tsx
  src/ui/src/pages/FiscalClose/ProfitShareByStore/BreakdownReport/TotalsContent.tsx
  src/ui/src/pages/FiscalClose/ProfitShareByStore/PostFrozenUnder21ReportGrid.tsx
  src/ui/src/pages/FiscalClose/ProfitShareEditUpdate/hooks/useProfitShareEditUpdate.ts
  src/ui/src/pages/ITOperations/FakeTimeManagement/FakeTimeManagement.tsx
  src/ui/src/pages/InquiriesAndAdjustments/MasterInquiry/MasterInquiryMemberGrid.tsx
  src/ui/src/pages/InquiriesAndAdjustments/MasterInquiry/__test__/MasterInquiryMemberDetails.test.tsx
  src/ui/src/pages/Reports/AdhocProfLetter73/AdhocProfLetter73Grid.tsx
  src/ui/src/pages/Reports/AdhocProfLetter73/hooks/__test__/useAdhocProfLetter73Print.test.ts
  src/ui/src/reduxstore/api/ItOperationsApi.ts
  src/ui/src/types/beneficiary/beneficiary.ts
  src/ui/src/utils/bankValidation.ts
  src/ui/src/utils/gridColumnFactory.ts
Due: Frontend TSC + Lint, Check frontend for vulnerabilities, Build and Test Frontend UI

Fix layout
  src/ui/src/components/Layout/PSLayout.tsx
  src/ui/src/components/MenuBar/MenuBar.tsx
Due: Frontend TSC + Lint, Check frontend for vulnerabilities, Build and Test Frontend UI

Fix test
  src/ui/src/components/MenuBar/MenuBar.test.tsx
Due: Frontend TSC + Lint, Check frontend for vulnerabilities, Build and Test Frontend UI

Fix tsc error
  src/ui/src/pages/FiscalClose/Forfeit/ForfeitGridColumns.ts
Due: Frontend TSC + Lint, Check frontend for vulnerabilities, Build and Test Frontend UI

Refactor API routes for consistency and clarity
  .spectral.yaml
  src/services/src/Demoulas.ProfitSharing.Api/Extensions/OpenApiSecuritySchemeFixExtensions.cs
  src/services/src/Demoulas.ProfitSharing.Api/OpenApi/OpenApiSecuritySchemeFixProcessor.cs
  src/services/src/Demoulas.ProfitSharing.Api/Program.cs
  src/services/src/Demoulas.ProfitSharing.Endpoints/Endpoints/Administration/RmdsFactors/GetRmdsFactorByAgeEndpoint.cs
  src/services/src/Demoulas.ProfitSharing.Endpoints/Endpoints/Beneficiaries/DeleteBeneficiaryContactEndpoint.cs
  src/services/src/Demoulas.ProfitSharing.Endpoints/Endpoints/Beneficiaries/DeleteBeneficiaryEndpoint.cs
  src/services/src/Demoulas.ProfitSharing.Endpoints/Endpoints/CrossReference/ValidateAllocTransfersEndpoint.cs
  src/services/src/Demoulas.ProfitSharing.Endpoints/Endpoints/Distributions/DeleteDistributionEndpoint.cs
  src/services/src/Demoulas.ProfitSharing.Endpoints/Endpoints/InquiriesAndAdjustments/Inquiries/MasterInquiryFilteredDetailsEndpoint.cs
  src/services/src/Demoulas.ProfitSharing.Endpoints/Endpoints/InquiriesAndAdjustments/Inquiries/MasterInquiryMemberDetailsEndpoint.cs
  src/services/src/Demoulas.ProfitSharing.Endpoints/Endpoints/InquiriesAndAdjustments/Inquiries/MasterInquiryMemberEndpoint.cs
  src/services/src/Demoulas.ProfitSharing.Endpoints/Endpoints/InquiriesAndAdjustments/Inquiries/MasterInquirySearchEndpoint.cs
  src/services/src/Demoulas.ProfitSharing.Endpoints/Groups/AdhocReportsGroup.cs
  src/services/src/Demoulas.ProfitSharing.Endpoints/Groups/BeneficiaryKindGroup.cs
  src/services/src/Demoulas.ProfitSharing.Endpoints/Groups/BeneficiaryTypeGroup.cs
  src/services/src/Demoulas.ProfitSharing.Endpoints/Groups/DistributionGroup.cs
  src/services/src/Demoulas.ProfitSharing.Endpoints/Groups/ItDevOpsAllUsersGroup.cs
  src/services/src/Demoulas.ProfitSharing.Endpoints/Groups/ItDevOpsGroup.cs
  src/services/src/Demoulas.ProfitSharing.Endpoints/Groups/MasterInquiryGroup.cs
  src/services/src/Demoulas.ProfitSharing.Endpoints/Groups/PayServicesGroup.cs
  src/services/src/Demoulas.ProfitSharing.Endpoints/Groups/ProfitDetailsGroup.cs
  src/services/src/Demoulas.ProfitSharing.Endpoints/Groups/YearEndGroup.cs
  src/ui/src/reduxstore/api/AdhocApi.ts
  src/ui/src/reduxstore/api/AdjustmentsApi.ts
  src/ui/src/reduxstore/api/BeneficiariesApi.ts
  src/ui/src/reduxstore/api/DistributionApi.ts
  src/ui/src/reduxstore/api/InquiryApi.ts
  src/ui/src/reduxstore/api/ItOperationsApi.ts
  src/ui/src/reduxstore/api/ValidationApi.ts
  src/ui/src/reduxstore/api/YearsEndApi.ts
Due: Frontend TSC + Lint, Check frontend for vulnerabilities, Check Backend API for vulnerabilities, Analyze Backend Changes (Selective Testing), Build and Test Backend API, Build and Test Frontend UI

Add linting and testing tasks for UI and services; update package versions
  .vscode/tasks.json
  src/services/Directory.Packages.props
  src/ui/package.json
Due: Check frontend for vulnerabilities

Update README.md to use placeholder values for user credentials and connection strings
  src/services/tests/yematchrunner/README.md
Due: none

Fix endpoint route for fake time status to use hyphenated format
  src/services/src/Demoulas.ProfitSharing.Endpoints/Endpoints/ItOperations/GetFakeTimeStatusEndpoint.cs
Due: Check Backend API for vulnerabilities, Analyze Backend Changes (Selective Testing), Build and Test Backend API

Fix endpoint route for duplicate names and birthdays to use hyphenated format
  src/services/src/Demoulas.ProfitSharing.Endpoints/Endpoints/Reports/YearEnd/Cleanup/DuplicateNamesAndBirthdaysEndpoint.cs
Due: Check Backend API for vulnerabilities, Analyze Backend Changes (Selective Testing), Build and Test Backend API

Refactor age value getter logic to improve handling of numeric and string inputs in createAgeColumn function
  src/ui/src/pages/FiscalClose/AgeReports/VestedAmountsByAge/VestedAmountsByAgeGridColumns.ts
  src/ui/src/utils/gridColumnFactory.ts
Due: Frontend TSC + Lint, Check frontend for vulnerabilities, Build and Test Frontend UI

first commit test with russ
  src/services/src/Demoulas.ProfitSharing.Common/Contracts/Error.cs
  src/services/src/Demoulas.ProfitSharing.Common/Contracts/Request/GrandTotalsByStoreRequest.cs
  src/services/src/Demoulas.ProfitSharing.Common/Contracts/Request/Lookups/StoreListRequest.cs
  src/services/src/Demoulas.ProfitSharing.Common/Contracts/Request/Lookups/StoreStatusFilter.cs
  src/services/src/Demoulas.ProfitSharing.Common/Contracts/Request/Lookups/StoreTypeFilter.cs
  src/services/src/Demoulas.ProfitSharing.Common/Contracts/Response/Lookup/StoreResponses.cs
  src/services/src/Demoulas.ProfitSharing.Common/Interfaces/IBreakdownService.cs
  src/services/src/Demoulas.ProfitSharing.Common/Interfaces/IStoreLookupService.cs
  src/services/src/Demoulas.ProfitSharing.Endpoints/Endpoints/Lookups/StoreByIdEndpoint.cs
  src/services/src/Demoulas.ProfitSharing.Endpoints/Endpoints/Lookups/StoreListEndpoint.cs
  src/services/src/Demoulas.ProfitSharing.Endpoints/Endpoints/Reports/YearEnd/BreakdownGrandTotalEndpoint.cs
  src/services/src/Demoulas.ProfitSharing.Services/Extensions/ServicesExtension.cs
  src/services/src/Demoulas.ProfitSharing.Services/Lookup/StoreLookupService.cs
  src/services/src/Demoulas.ProfitSharing.Services/Lookup/StoreLookupServiceMock.cs
  src/services/src/Demoulas.ProfitSharing.Services/Reports/Breakdown/BreakdownReportService.cs
  src/services/tests/Demoulas.ProfitSharing.UnitTests/Reports/YearEnd/BreakdownGrandTotalsUnder21Tests.cs
  src/ui/src/components/DSMPaginatedGrid/DSMPaginatedGrid.tsx
  src/ui/src/hooks/__test__/useBreakdownGrandTotals.test.tsx
  src/ui/src/hooks/index.ts
  src/ui/src/hooks/useBreakdownGrandTotals.ts
  src/ui/src/hooks/useContentAwareGridHeight.test.tsx
  src/ui/src/hooks/useContentAwareGridHeight.ts
  src/ui/src/pages/DecemberActivities/UnForfeit/UnForfeitGrid.tsx
  src/ui/src/pages/FiscalClose/ProfitShareByStore/BreakdownReport/AllEmployeesContent.tsx
  src/ui/src/pages/FiscalClose/ProfitShareByStore/BreakdownReport/AssociatesGrid.tsx
  src/ui/src/pages/FiscalClose/ProfitShareByStore/BreakdownReport/BreakdownSummaryGrid.tsx
  src/ui/src/pages/FiscalClose/ProfitShareByStore/BreakdownReport/QPAY066TA.tsx
  src/ui/src/pages/FiscalClose/ProfitShareByStore/BreakdownReport/QPAY066TABreakdownParameters.tsx
  src/ui/src/pages/FiscalClose/ProfitShareByStore/BreakdownReport/StoreContent.tsx
  src/ui/src/pages/FiscalClose/ProfitShareByStore/BreakdownReport/StoreManagementGrid.tsx
  src/ui/src/pages/FiscalClose/ProfitShareByStore/BreakdownReport/TotalsContent.tsx
  src/ui/src/pages/FiscalClose/ProfitShareByStore/BreakdownReport/Under21Content.tsx
  src/ui/src/pages/FiscalClose/ProfitShareByStore/BreakdownReport/__test__/AllEmployeesContent.test.tsx
  src/ui/src/pages/FiscalClose/ProfitShareByStore/BreakdownReport/__test__/QPAY066TABreakdownParameters.test.tsx
  src/ui/src/pages/FiscalClose/ProfitShareByStore/BreakdownReport/__test__/StoreContent.test.tsx
  src/ui/src/pages/FiscalClose/ProfitShareByStore/BreakdownReport/__test__/TotalsContent.test.tsx
  src/ui/src/pages/FiscalClose/ProfitShareByStore/BreakdownReport/__test__/Under21Content.test.tsx
  src/ui/src/reduxstore/api/AdhocApi.ts
  src/ui/src/reduxstore/api/LookupsApi.ts
Due: Frontend TSC + Lint, Check frontend for vulnerabilities, Check Backend API for vulnerabilities, Analyze Backend Changes (Selective Testing), Build and Test Backend API, Build and Test Frontend UI

changes to follow object creation for db connections
  src/services/src/Demoulas.ProfitSharing.Api/Program.cs
  src/services/src/Demoulas.ProfitSharing.Services/Extensions/ServicesExtension.cs
Due: Check Backend API for vulnerabilities, Analyze Backend Changes (Selective Testing), Build and Test Backend API

Refactor usings and update tax code query ordering
  src/services/src/Demoulas.ProfitSharing.Services/Lookup/TaxCodeLookupService.cs
Due: Check Backend API for vulnerabilities, Analyze Backend Changes (Selective Testing), Build and Test Backend API

Update TaxCodeEndpointTests descriptions and ordering logic
  src/services/tests/Demoulas.ProfitSharing.UnitTests/Endpoints/Lookups/TaxCodeEndpointTests.cs
Due: Check Backend API for vulnerabilities, Analyze Backend Changes (Selective Testing), Build and Test Backend API

Fix API endpoint URLs for AdhocProfLetter73 to use consistent path format
  src/ui/src/reduxstore/api/AdhocProfLetter73Api.ts
Due: Frontend TSC + Lint, Check frontend for vulnerabilities, Build and Test Frontend UI

Update polling interval for fake time status to 120 seconds across components
  src/services/src/Demoulas.ProfitSharing.Services/Reports/EmployeesWithProfitsOver73Service.cs
  src/ui/src/components/Layout/FakeTimeBanner.tsx
  src/ui/src/components/Layout/PSLayout.tsx
  src/ui/src/hooks/useFakeTimeAwareDate.ts
Due: Frontend TSC + Lint, Check frontend for vulnerabilities, Check Backend API for vulnerabilities, Analyze Backend Changes (Selective Testing), Build and Test Backend API, Build and Test Frontend UI

Enhance EmployeesWithProfitsOver73Service and AdhocProfLetter73Grid for consistency and functionality
  src/services/src/Demoulas.ProfitSharing.Services/Reports/EmployeesWithProfitsOver73Service.cs
  src/ui/src/pages/Reports/AdhocProfLetter73/AdhocProfLetter73Grid.tsx
Due: Frontend TSC + Lint, Check frontend for vulnerabilities, Check Backend API for vulnerabilities, Analyze Backend Changes (Selective Testing), Build and Test Backend API, Build and Test Frontend UI

Enhance ReprintCertificates component with print dialog and loading state for download actions
  src/database/ready_import/Navigations/add-navigation-data.sql
  src/ui/src/pages/FiscalClose/ReprintCertificates/ReprintCertificates.tsx
Due: Frontend TSC + Lint, Check frontend for vulnerabilities, Build and Test Frontend UI

feat: Add Xerox printing functionality to certificate and letter requests
  src/services/src/Demoulas.ProfitSharing.Common/Contracts/Request/CerficatePrintRequest.cs
  src/services/src/Demoulas.ProfitSharing.Common/Contracts/Request/EmployeesWithProfitsOver73Request.cs
  src/services/src/Demoulas.ProfitSharing.Common/Contracts/Request/TerminatedLettersRequest.cs
  src/services/src/Demoulas.ProfitSharing.Services/Certificates/CertificateService.cs
  src/services/src/Demoulas.ProfitSharing.Services/Extensions/ServicesExtension.cs
  src/services/src/Demoulas.ProfitSharing.Services/PrintFormatting/DjdeDirectiveOptions.cs
  src/services/src/Demoulas.ProfitSharing.Services/PrintFormatting/PrintFormatHelper.cs
  src/services/src/Demoulas.ProfitSharing.Services/Reports/AdhocTerminatedEmployeesService.cs
  src/services/src/Demoulas.ProfitSharing.Services/Reports/EmployeesWithProfitsOver73Service.cs
  src/ui/src/pages/FiscalClose/ReprintCertificates/ReprintCertificates.tsx
  src/ui/src/pages/Reports/AdhocProfLetter73/AdhocProfLetter73Grid.tsx
  src/ui/src/pages/Reports/AdhocProfLetter73/hooks/useAdhocProfLetter73Print.ts
  src/ui/src/pages/Reports/TerminatedLetters/TerminatedLetters.tsx
  src/ui/src/pages/Reports/TerminatedLetters/TerminatedLettersGrid.tsx
  src/ui/src/pages/Reports/TerminatedLetters/hooks/useTerminatedLetters.ts
  src/ui/src/reduxstore/api/AdhocApi.ts
  src/ui/src/reduxstore/api/AdhocProfLetter73Api.ts
  src/ui/src/reduxstore/api/YearsEndApi.ts
  src/ui/src/types/reports/certificates.ts
  src/ui/src/types/reports/terminated-letters.ts
Due: Frontend TSC + Lint, Check frontend for vulnerabilities, Check Backend API for vulnerabilities, Analyze Backend Changes (Selective Testing), Build and Test Backend API, Build and Test Frontend UI

refactor: Replace printer selection with dropdown menu in ReprintCertificates, AdhocProfLetter73Grid, and TerminatedLettersGrid components
  src/ui/src/pages/FiscalClose/ReprintCertificates/ReprintCertificates.tsx
  src/ui/src/pages/Reports/AdhocProfLetter73/AdhocProfLetter73Grid.tsx
  src/ui/src/pages/Reports/TerminatedLetters/TerminatedLettersGrid.tsx
Due: Frontend TSC + Lint, Check frontend for vulnerabilities, Build and Test Frontend UI

fix: Add conditional spacing for Xerox requests in CertificateService
  src/services/src/Demoulas.ProfitSharing.Services/Certificates/CertificateService.cs
Due: Check Backend API for vulnerabilities, Analyze Backend Changes (Selective Testing), Build and Test Backend API

test: Add unit tests for DjdeDirectiveOptions and PrintFormatHelper functionality
  src/services/tests/Demoulas.ProfitSharing.UnitTests/Endpoints/Administration/RmdsFactors/GetRmdsFactorByAgeEndpointTests.cs
  src/services/tests/Demoulas.ProfitSharing.UnitTests/Services/PrintFormatting/DjdeDirectiveOptionsTests.cs
  src/services/tests/Demoulas.ProfitSharing.UnitTests/Services/PrintFormatting/PrintFormatHelperTests.cs
Due: Check Backend API for vulnerabilities, Analyze Backend Changes (Selective Testing), Build and Test Backend API

commented out ContextFactoryRequestinitialize
  src/services/src/Demoulas.ProfitSharing.Api/Program.cs
Due: Check Backend API for vulnerabilities, Analyze Backend Changes (Selective Testing), Build and Test Backend API

refactor: Set default value for isXerox and title in print functions for consistency
  src/ui/src/pages/Reports/AdhocProfLetter73/hooks/__test__/useAdhocProfLetter73Print.test.ts
  src/ui/src/pages/Reports/AdhocProfLetter73/hooks/useAdhocProfLetter73Print.ts
  src/ui/src/pages/Reports/TerminatedLetters/hooks/useTerminatedLetters.ts
Due: Frontend TSC + Lint, Check frontend for vulnerabilities, Build and Test Frontend UI

Rewrite of QPAY066B
  src/services/src/Demoulas.ProfitSharing.Services/Reports/Breakdown/BreakdownReportService.cs
Due: Check Backend API for vulnerabilities, Analyze Backend Changes (Selective Testing), Build and Test Backend API

move to using only datawarehousecontext
  src/services/src/Demoulas.ProfitSharing.Api/Program.cs
  src/services/src/Demoulas.ProfitSharing.Services/Lookup/StoreLookupService.cs
Due: Check Backend API for vulnerabilities, Analyze Backend Changes (Selective Testing), Build and Test Backend API

Improve performance
  src/services/src/Demoulas.ProfitSharing.Services/Reports/Breakdown/BreakdownReportService.cs
Due: Check Backend API for vulnerabilities, Analyze Backend Changes (Selective Testing), Build and Test Backend API

Fix smaller issues
  src/services/src/Demoulas.ProfitSharing.Services/Reports/Breakdown/BreakdownReportService.cs
Due: Check Backend API for vulnerabilities, Analyze Backend Changes (Selective Testing), Build and Test Backend API

Path conditions:
  Frontend TSC + Lint: any of: src/ui/**/*.ts, src/ui/**/*.tsx, src/ui/**/*.js, src/ui/**/*.jsx
  Check frontend for vulnerabilities: any of: src/ui/**
  Check Backend API for vulnerabilities: any of: src/services/**/*.cs, src/services/**/*.csproj, src/services/**/*.sln, src/services/**/*.slnx, src/services/**/*.json, src/services/**/*.config
  Analyze Backend Changes (Selective Testing): any of: src/services/**/*.cs, src/services/**/*.csproj, src/services/**/*.sln, src/services/**/*.slnx, src/services/**/*.json, src/services/**/*.config
  Build and Test Backend API: any of: src/services/**/*.cs, src/services/**/*.csproj, src/services/**/*.sln, src/services/**/*.slnx, src/services/**/*.json, src/services/**/*.config
  Build and Test Frontend UI: any of: src/ui/**/*.ts, src/ui/**/*.tsx, src/ui/**/*.js, src/ui/**/*.jsx
