Repository edfactor/encyclo-mapoli: changes, and which Bitbucket steps are due for each by the changed paths.
All: Frontend TSC + Lint, Check frontend for vulnerabilities, Check Backend API for vulnerabilities, Analyze Backend Changes (Selective Testing), Build and Test Backend API, Build and Test Frontend UI

Frontend TSC + Lint:
  image: node:22-alpine
  max-time: 10
  script:
  - cd src/ui
  - echo "Running frontend tsc and linting on cloud runner..."
  - apk add --no-cache git
  - npm install -g npm@latest
  - 'cat > .npmrc << EOF
  
    registry=https://demoulas.jfrog.io/artifactory/api/npm/demoulas-npm-virt/
  
  ...

Check frontend for vulnerabilities:
  image: node:22-alpine
  max-time: 10
  script:
  - cd src/ui
  - echo "Checking npm vulnerabilities on cloud runner..."
  - 'cat > .npmrc << EOF
  
    registry=https://demoulas.jfrog.io/artifactory/api/npm/demoulas-npm-virt/
  
  ...

Check Backend API for vulnerabilities:
  runs-on:
  - windows
  - self.hosted
  script:
  - $env:SolutionDir = ".\src\services"
  - echo "Checking dotnet vulnerabilities"
  - cd $env:SolutionDir
  - dotnet --info
  - dotnet nuget list source
  - dotnet restore Demoulas.ProfitSharing.slnx
  ...

Analyze Backend Changes (Selective Testing):
  runs-on:
  - windows
  - self.hosted
  artifacts:
  - selective-test-decision.json
  script:
  ...

Build and Test Backend API:
  runs-on:
  - windows
  - self.hosted
  script:
  ...

Build and Test Frontend UI:
  image: node:22-alpine
  max-time: 10
  artifacts:
  - src/ui/coverage/**
  - src/ui/FE_Tests/**
  script:
  - cd src/ui
  - echo "Running frontend tests on cloud runner..."
  - apk add --no-cache git
  - npm install -g npm@latest
  - npm config list --json
  - env | grep -i npm_config
  - 'cat > .npmrc << EOF
  
  ...

Add docs for DemoulasConfiguration<TDownstream> class
  .github/instructions/demoulas.common.contracts.instructions.md
  src/ui/src/pages/Distributions/AddDistribution/AddDistribution.tsx
Due: Frontend TSC + Lint, Check frontend for vulnerabilities, Build and Test Frontend UI

Refactor imports in AddDistribution.tsx for new hooks/constants
  src/ui/src/pages/Distributions/AddDistribution/AddDistribution.tsx
Due: Frontend TSC + Lint, Check frontend for vulnerabilities, Build and Test Frontend UI

Update placeholder text in MilitaryContributionSearchFilter tests for clarity
  src/ui/src/pages/DecemberActivities/MilitaryContribution/__test__/MilitaryContributionSearchFilter.test.tsx
  src/ui/src/pages/InquiriesAndAdjustments/MasterInquiry/__test__/MasterInquiryMemberDetails.test.tsx
Due: Frontend TSC + Lint, Check frontend for vulnerabilities, Build and Test Frontend UI

Update placeholder text in ForfeituresAdjustmentSearchFilter tests for clarity
  src/ui/src/pages/DecemberActivities/ForfeituresAdjustment/__test__/ForfeituresAdjustmentSearchFilter.test.tsx
Due: Frontend TSC + Lint, Check frontend for vulnerabilities, Build and Test Frontend UI

Add verify-ui-tests task and update placeholder text in ForfeituresAdjustmentSearchFilter tests for clarity
  .vscode/tasks.json
  src/ui/src/pages/DecemberActivities/ForfeituresAdjustment/__test__/ForfeituresAdjustmentSearchFilter.test.tsx
Due: Frontend TSC + Lint, Check frontend for vulnerabilities, Build and Test Frontend UI

Refactor vesting rules and update related tests for PS-2524 compliance
  src/services/src/Demoulas.ProfitSharing.Common/Contracts/Request/Distributions/CreateDistributionRequest.cs
  src/services/src/Demoulas.ProfitSharing.Common/ReferenceData.cs
  src/services/src/Demoulas.ProfitSharing.Services/Services/Reports/Breakdown/BreakdownReportService.cs
  src/services/src/Demoulas.ProfitSharing.Services/Services/Reports/EmbeddedSqlService.cs
  src/services/src/Demoulas.ProfitSharing.Services/Services/YearEnd/YearEndService.cs
  src/services/tests/Demoulas.ProfitSharing.IntegrationTests/Reports/YearEnd/PAY426N/Pay426NTests.cs
  src/services/tests/Demoulas.ProfitSharing.UnitTests.Common/Mocks/MockDataContextFactory.cs
  src/services/tests/Demoulas.ProfitSharing.UnitTests/Services/Reports/EmbeddedSqlServiceTests.cs
Due: Check Backend API for vulnerabilities, Analyze Backend Changes (Selective Testing), Build and Test Backend API

Refactor SetExecutiveHoursAndDollarsTests for improved clarity and structure
  src/services/tests/Demoulas.ProfitSharing.UnitTests.Common/Mocks/MockDataContextFactory.cs
  src/services/tests/Demoulas.ProfitSharing.UnitTests/Reports/YearEnd/SetExecutiveHoursAndDollarsTests.cs
Due: Check Backend API for vulnerabilities, Analyze Backend Changes (Selective Testing), Build and Test Backend API

Restore and enable Fiscal Close navigation/report items
  src/database/ready_import/Navigations/add-uat-navigation-data.sql
Due: none

Add file to help generate code from READY source.
  docs/READY_SCHEMA_TO_SMART.md
Due: none

Fix vesting rule discrepancy by updating zero contribution reason condition in SQL query
  src/services/src/Demoulas.ProfitSharing.Services/Services/Reports/EmbeddedSqlService.cs
Due: Check Backend API for vulnerabilities, Analyze Backend Changes (Selective Testing), Build and Test Backend API

Clarify vesting rule descriptions for age and contribution conditions in ZeroContributionReason
  src/services/src/Demoulas.ProfitSharing.Data/Entities/ZeroContributionReason.cs
Due: Check Backend API for vulnerabilities, Analyze Backend Changes (Selective Testing), Build and Test Backend API

Update test to check for ZERO_CONTRIBUTION_REASON_ID = 6
  src/services/tests/Demoulas.ProfitSharing.UnitTests/Services/Reports/EmbeddedSqlServiceTests.cs
Due: Check Backend API for vulnerabilities, Analyze Backend Changes (Selective Testing), Build and Test Backend API

Set up Massachusetts election results web application scaffolding
  services/api/pyproject.toml
  services/api/src/api/__init__.py
  services/api/src/api/config.py
  services/api/src/api/main.py
  services/api/src/api/models/__init__.py
  services/api/src/api/models/election.py
  services/api/src/api/routers/__init__.py
  services/api/src/api/routers/elections.py
  services/api/src/api/routers/reports.py
  services/api/src/api/routers/results.py
  services/api/src/api/services/__init__.py
  services/api/src/api/services/cache.py
  services/api/src/api/services/data_transformer.py
  services/api/src/api/services/election_fetcher.py
  services/api/tests/__init__.py
  services/api/tests/test_api.py
Due: none

Set up Massachusetts election results web application scaffolding
  package.json
  packages/frontend/index.html
  packages/frontend/package.json
  packages/frontend/src/App.tsx
  packages/frontend/src/components/Layout.tsx
  packages/frontend/src/index.css
  packages/frontend/src/main.tsx
  packages/frontend/src/pages/ElectionDetailPage.tsx
  packages/frontend/src/pages/ElectionsPage.tsx
  packages/frontend/src/pages/HomePage.tsx
  packages/frontend/src/pages/ReportsPage.tsx
  packages/frontend/src/services/api.ts
  packages/frontend/src/types/index.ts
  packages/frontend/tsconfig.json
  packages/frontend/vite.config.ts
  services/api/pyproject.toml
  services/api/src/api/__init__.py
  services/api/src/api/config.py
  services/api/src/api/main.py
  services/api/src/api/models/__init__.py
  services/api/src/api/models/election.py
  services/api/src/api/routers/__init__.py
  services/api/src/api/routers/elections.py
  services/api/src/api/routers/reports.py
  services/api/src/api/routers/results.py
  services/api/src/api/services/__init__.py
  services/api/src/api/services/cache.py
  services/api/src/api/services/data_transformer.py
  services/api/src/api/services/election_fetcher.py
  services/api/tests/__init__.py
  services/api/tests/test_api.py
Due: none

Test
  README.md
Due: none

Path conditions:
  Frontend TSC + Lint: any of: src/ui/**/*.ts, src/ui/**/*.tsx, src/ui/**/*.js, src/ui/**/*.jsx
  Check frontend for vulnerabilities: any of: src/ui/**
  Check Backend API for vulnerabilities: any of: src/services/**/*.cs, src/services/**/*.csproj, src/services/**/*.sln, src/services/**/*.slnx, src/services/**/*.json, src/services/**/*.config
  Analyze Backend Changes (Selective Testing): any of: src/services/**/*.cs, src/services/**/*.csproj, src/services/**/*.sln, src/services/**/*.slnx, src/services/**/*.json, src/services/**/*.config
  Build and Test Backend API: any of: src/services/**/*.cs, src/services/**/*.csproj, src/services/**/*.sln, src/services/**/*.slnx, src/services/**/*.json, src/services/**/*.config
  Build and Test Frontend UI: any of: src/ui/**/*.ts, src/ui/**/*.tsx, src/ui/**/*.js, src/ui/**/*.jsx
