Repository edfactor/encyclo-mapoli: changes, and which Bitbucket steps are due for each by the changed paths.
All: Frontend TSC + Lint, Check frontend for vulnerabilities, Check Backend API for vulnerabilities, Analyze Backend Changes (Selective Testing), Build and Test Backend API, Build and Test Frontend UI

Frontend TSC + Lint:
  image: node:22-alpine
  max-time: 10
  script:
  - cd src/ui
  - echo "Running frontend tsc and linting on cloud runner..."
  - apk add --no-cache git
  - npm install -g npm@latest
  - 'cat > .npmrc << EOF
  
    registry=https://demoulas.jfrog.io/artifactory/api/npm/demoulas-npm-virt/
  
  ...

Check frontend for vulnerabilities:
  image: node:22-alpine
  max-time: 10
  script:
  - cd src/ui
  - echo "Checking npm vulnerabilities on cloud runner..."
  - 'cat > .npmrc << EOF
  
    registry=https://demoulas.jfrog.io/artifactory/api/npm/demoulas-npm-virt/
  
  ...

Check Backend API for vulnerabilities:
  runs-on:
  - windows
  - self.hosted
  script:
  - $env:SolutionDir = ".\src\services"
  - echo "Checking dotnet vulnerabilities"
  - cd $env:SolutionDir
  - dotnet --info
  - dotnet nuget list source
  - dotnet restore Demoulas.ProfitSharing.slnx
  ...

Analyze Backend Changes (Selective Testing):
  runs-on:
  - windows
  - self.hosted
  artifacts:
  - selective-test-decision.json
  script:
  ...

Build and Test Backend API:
  runs-on:
  - windows
  - self.hosted
  script:
  ...

Build and Test Frontend UI:
  image: node:22-alpine
  max-time: 10
  artifacts:
  - src/ui/coverage/**
  - src/ui/FE_Tests/**
  script:
  - cd src/ui
  - echo "Running frontend tests on cloud runner..."
  - apk add --no-cache git
  - npm install -g npm@latest
  - npm config list --json
  - env | grep -i npm_config
  - 'cat > .npmrc << EOF
  
  ...

Update badge validation, report aggregation, and UI totals
  .github/instructions/demoulas.common.contracts.instructions.md
  src/services/src/Demoulas.ProfitSharing.Api/appsettings.Development.json
  src/services/src/Demoulas.ProfitSharing.Common/Interfaces/IBadgeNumberRequest.cs
  src/services/src/Demoulas.ProfitSharing.Common/Validators/BadgeNumberRequestValidator.cs
  src/services/src/Demoulas.ProfitSharing.Services/Extensions/ProfitDetailExtensions.cs
  src/services/src/Demoulas.ProfitSharing.Services/Reports/AccountHistoryReportService.cs
  src/services/tests/Demoulas.ProfitSharing.UnitTests/Services/Extensions/ProfitDetailExtensionsTests.cs
  src/ui/src/pages/Reports/AccountHistoryReport/AccountHistoryReport.tsx
Due: Frontend TSC + Lint, Check frontend for vulnerabilities, Check Backend API for vulnerabilities, Analyze Backend Changes (Selective Testing), Build and Test Backend API, Build and Test Frontend UI

Moved the Earnings Points to above the grid and then removed the pinned line with the Earnings Points in the grid. I also added the expanded view functionality to the page since I was here.
  src/ui/src/pages/FiscalClose/Forfeit/Forfeit.tsx
  src/ui/src/pages/FiscalClose/Forfeit/ForfeitGrid.tsx
Due: Frontend TSC + Lint, Check frontend for vulnerabilities, Build and Test Frontend UI

Add IT Devops to read only permissions in distribution inquiry
  src/services/src/Demoulas.ProfitSharing.Security/PolicyRoleMap.cs
Due: Check Backend API for vulnerabilities, Analyze Backend Changes (Selective Testing), Build and Test Backend API

Change tests to follow new policy
  src/services/src/Demoulas.ProfitSharing.Endpoints/Endpoints/Distributions/DeleteDistributionEndpoint.cs
  src/services/src/Demoulas.ProfitSharing.Security/Policy.cs
  src/services/src/Demoulas.ProfitSharing.Security/PolicyRoleMap.cs
Due: Check Backend API for vulnerabilities, Analyze Backend Changes (Selective Testing), Build and Test Backend API

One more fix
  src/services/src/Demoulas.ProfitSharing.Endpoints/Endpoints/Distributions/DeleteDistributionEndpoint.cs
Due: Check Backend API for vulnerabilities, Analyze Backend Changes (Selective Testing), Build and Test Backend API

Other endpoints needed policy change
  src/services/src/Demoulas.ProfitSharing.Endpoints/Endpoints/Distributions/CreateDistributionEndpoint.cs
  src/services/src/Demoulas.ProfitSharing.Endpoints/Endpoints/Distributions/UpdateDistributionEndpoint.cs
Due: Check Backend API for vulnerabilities, Analyze Backend Changes (Selective Testing), Build and Test Backend API

Fix account history to show yearly, not cumulative, withdrawals
  .github/instructions/code-review.instructions.md
  .github/instructions/demoulas.common.api.instructions.md
  .github/instructions/demoulas.common.caching.instructions.md
  .github/instructions/demoulas.common.contracts.instructions.md
  .github/instructions/demoulas.common.data.instructions.md
  .github/instructions/demoulas.common.logging.instructions.md
  .github/instructions/demoulas.common.restful-api-guidelines.instructions.md
  .github/instructions/demoulas.common.security.instructions.md
  .github/instructions/demoulas.util.instructions.md
  src/services/src/Demoulas.ProfitSharing.Api/nswag.json
  src/services/src/Demoulas.ProfitSharing.Services/Reports/AccountHistoryReportService.cs
  src/services/src/Demoulas.ProfitSharing.Services/TotalService.cs
Due: Check Backend API for vulnerabilities, Analyze Backend Changes (Selective Testing), Build and Test Backend API

Include OutgoingXferBeneficiary in TotalAmount calc
  src/services/Demoulas.ProfitSharing.sln.DotSettings
  src/services/src/Demoulas.ProfitSharing.Services/TotalService.cs
Due: Check Backend API for vulnerabilities, Analyze Backend Changes (Selective Testing), Build and Test Backend API

Remove vesting fields from Account History Report
  src/services/src/Demoulas.ProfitSharing.Common/Contracts/Response/AccountHistoryReportResponse.cs
  src/services/src/Demoulas.ProfitSharing.Endpoints/Endpoints/Reports/Adhoc/AccountHistoryReportEndpoint.cs
  src/services/src/Demoulas.ProfitSharing.Reporting/Reports/AccountHistoryPdfReport.cs
  src/services/src/Demoulas.ProfitSharing.Services/Reports/AccountHistoryReportService.cs
  src/services/tests/Demoulas.ProfitSharing.UnitTests/Reports/Adhoc/AccountHistoryReportServiceTests.cs
  src/services/tests/Demoulas.ProfitSharing.UnitTests/Reports/Adhoc/AccountHistoryReportVestingTests.cs
  src/ui/src/pages/Reports/AccountHistoryReport/AccountHistoryReportGridColumns.ts
Due: Frontend TSC + Lint, Check frontend for vulnerabilities, Check Backend API for vulnerabilities, Analyze Backend Changes (Selective Testing), Build and Test Backend API, Build and Test Frontend UI

Update react-router-dom to ^7.12.0 and dependencies
  src/ui/package-lock.json
  src/ui/package.json
Due: Check frontend for vulnerabilities

Upgrade react-router, refactor Okta auth & routing
  src/ui/package-lock.json
  src/ui/package.json
  src/ui/src/components/router/RouteSecurity.tsx
  src/ui/src/components/router/Router.tsx
  src/ui/src/components/router/RouterSubAssembly.tsx
Due: Frontend TSC + Lint, Check frontend for vulnerabilities, Build and Test Frontend UI

Remove lazy imports for Login and OktaLoginCallback
  src/ui/src/components/router/Router.tsx
Due: Frontend TSC + Lint, Check frontend for vulnerabilities, Build and Test Frontend UI

fixed lint error
  src/ui/src/pages/FiscalClose/Forfeit/ForfeitGrid.tsx
Due: Frontend TSC + Lint, Check frontend for vulnerabilities, Build and Test Frontend UI

Update vulnerabilities
  src/ui/package-lock.json
  src/ui/package.json
Due: Check frontend for vulnerabilities

PS-2122 fix suggested forfeit ETVA handling
  src/database/ready_import/SQL copy all from ready to smart ps.sql
  src/services/src/Demoulas.ProfitSharing.Services/ForfeitureAdjustmentService.cs
  src/services/src/Demoulas.ProfitSharing.Services/Internal/ServiceDto/Employee.cs
  src/services/src/Demoulas.ProfitSharing.Services/Reports/TerminatedEmployeeAndBeneficiaryReport/TerminatedEmployeeReportService.cs
  src/services/src/Demoulas.ProfitSharing.Services/Reports/TerminatedEmployeeAndBeneficiaryReport/TerminatedEmployeeService.cs
  src/services/tests/Demoulas.ProfitSharing.IntegrationTests/ForfeitureAdjustments/ForfeitureAdjustmentTests.cs
  src/services/tests/Demoulas.ProfitSharing.IntegrationTests/Reports/Termination/TerminatedEmployeeAndBeneficiaryReportIntegrationTests.cs
  src/services/tests/Demoulas.ProfitSharing.IntegrationTests/Reports/YearEnd/PristineBaseTest.cs
  src/services/tests/Demoulas.ProfitSharing.UnitTests/Services/ForfeitureAdjustmentServiceTests.cs
Due: Check Backend API for vulnerabilities, Analyze Backend Changes (Selective Testing), Build and Test Backend API

PS-2122 fix tests
  src/services/src/Demoulas.ProfitSharing.Api/Demoulas.ProfitSharing.Api.csproj
  src/services/src/Demoulas.ProfitSharing.Api/appsettings.Testing.json
  src/services/src/Demoulas.ProfitSharing.Services/ForfeitureAdjustmentService.cs
  src/services/tests/Demoulas.ProfitSharing.IntegrationTests/ForfeitureAdjustments/ForfeitureAdjustmentTests.cs
  src/services/tests/Demoulas.ProfitSharing.UnitTests.Common/Base/ApiTestBase.cs
  src/services/tests/Demoulas.ProfitSharing.UnitTests.Common/Mocks/MockCalendarService.cs
  src/services/tests/Demoulas.ProfitSharing.UnitTests/Services/BeneficiaryDisbursementServiceTests.cs
Due: Check Backend API for vulnerabilities, Analyze Backend Changes (Selective Testing), Build and Test Backend API

PS-2122 adjust tests to be more dynamic
  src/services/src/Demoulas.ProfitSharing.Services/ForfeitureAdjustmentService.cs
  src/services/src/Demoulas.ProfitSharing.Services/Internal/ServiceDto/Employee.cs
  src/services/tests/Demoulas.ProfitSharing.IntegrationTests/Reports/YearEnd/PristineBaseTest.cs
  src/services/tests/Demoulas.ProfitSharing.UnitTests.Common/Common/TestCalendar.cs
  src/services/tests/Demoulas.ProfitSharing.UnitTests/Reports/Adhoc/AccountHistoryReportServiceTests.cs
  src/services/tests/Demoulas.ProfitSharing.UnitTests/Reports/YearEnd/CleanupReportServiceTests.cs
  src/services/tests/Demoulas.ProfitSharing.UnitTests/Services/BeneficiaryDisbursementServiceTests.cs
  src/services/tests/Demoulas.ProfitSharing.UnitTests/Services/ProfitDetailReversalsServiceTests.cs
  src/services/tests/Demoulas.ProfitSharing.UnitTests/TotalServiceTests.cs
Due: Check Backend API for vulnerabilities, Analyze Backend Changes (Selective Testing), Build and Test Backend API

undo ngwag fix
  src/services/src/Demoulas.ProfitSharing.Api/Demoulas.ProfitSharing.Api.csproj
Due: Check Backend API for vulnerabilities, Analyze Backend Changes (Selective Testing), Build and Test Backend API

Stop nswag.json from changing on every build
  src/services/src/Demoulas.ProfitSharing.Api/Demoulas.ProfitSharing.Api.csproj
Due: Check Backend API for vulnerabilities, Analyze Backend Changes (Selective Testing), Build and Test Backend API

Remove bad calendaring change
  src/services/src/Demoulas.ProfitSharing.Api/nswag.json
  src/services/tests/Demoulas.ProfitSharing.UnitTests.Common/Common/TestCalendar.cs
  src/services/tests/Demoulas.ProfitSharing.UnitTests/Reports/Adhoc/AccountHistoryReportServiceTests.cs
  src/services/tests/Demoulas.ProfitSharing.UnitTests/Reports/YearEnd/CleanupReportServiceTests.cs
  src/services/tests/Demoulas.ProfitSharing.UnitTests/Services/BeneficiaryDisbursementServiceTests.cs
  src/services/tests/Demoulas.ProfitSharing.UnitTests/Services/ProfitDetailReversalsServiceTests.cs
  src/services/tests/Demoulas.ProfitSharing.UnitTests/TotalServiceTests.cs
Due: Check Backend API for vulnerabilities, Analyze Backend Changes (Selective Testing), Build and Test Backend API

push unwind fidding with fake time in testing
  src/services/src/Demoulas.ProfitSharing.Api/appsettings.Testing.json
Due: Check Backend API for vulnerabilities, Analyze Backend Changes (Selective Testing), Build and Test Backend API

Make badge length min 3, not 1
  src/ui/src/components/router/RouteSecurity.tsx
  src/ui/src/components/router/Router.tsx
  src/ui/src/components/router/RouterSubAssembly.tsx
  src/ui/src/pages/Beneficiaries/utils/badgeUtils.ts
  src/ui/src/pages/DecemberActivities/ForfeituresAdjustment/__test__/ForfeituresAdjustmentSearchFilter.test.tsx
  src/ui/src/pages/DecemberActivities/MilitaryContribution/__test__/MilitaryContributionSearchFilter.test.tsx
  src/ui/src/pages/FiscalClose/Forfeit/ForfeitGrid.tsx
  src/ui/src/pages/Reports/AccountHistoryReport/AccountHistoryReport.tsx
  src/ui/src/pages/Reports/AccountHistoryReport/AccountHistoryReportGridColumns.ts
  src/ui/src/utils/FormValidators.test.ts
  src/ui/src/utils/FormValidators.ts
Due: Frontend TSC + Lint, Check frontend for vulnerabilities, Build and Test Frontend UI

Slim down instructions
  .github/instructions/ui.pages.instructions.md
  PS-2424_IMPLEMENTATION_SUMMARY.md
  docs/BALANCE_REPORTS_CROSS_REFERENCE_MATRIX.md
  docs/PS-2424_FOLLOW_UP_INVESTIGATION.md
  docs/PS-2424_IMPLEMENTATION_SUMMARY.md
  docs/SELECTIVE_BACKEND_TEST_EXECUTION.md
  docs/all.code-review.instructions.md
  docs/all.fullname-pattern.instructions.md
  docs/all.security.instructions.md
  docs/code-review.instructions.md
Due: none

Remove front end noise
  src/ui/src/test/setup.ts
  src/ui/vitest.config.ts
Due: Frontend TSC + Lint, Check frontend for vulnerabilities, Build and Test Frontend UI

Reduce noise with quiet back end test options
  ai-templates/main-includes/commands.md
  bitbucket-pipelines.yml
Due: none

Fix tsc error
  src/ui/src/test/setup.ts
Due: Frontend TSC + Lint, Check frontend for vulnerabilities, Build and Test Frontend UI

Trivial change
  src/services/src/Demoulas.ProfitSharing.Services/Beneficiaries/BeneficiaryService.cs
Due: Check Backend API for vulnerabilities, Analyze Backend Changes (Selective Testing), Build and Test Backend API

Trivial change to trigger tests
  src/services/src/Demoulas.ProfitSharing.Data/Entities/PayFrequency.cs
Due: Check Backend API for vulnerabilities, Analyze Backend Changes (Selective Testing), Build and Test Backend API

Pipeline diagnostic
  bitbucket-pipelines.yml
Due: none

More diagnostics
  bitbucket-pipelines.yml
Due: none

Quiet solution
  bitbucket-pipelines.yml
Due: none

Reduce serilog messages
  src/services/src/Demoulas.ProfitSharing.Api/appsettings.Testing.json
Due: Check Backend API for vulnerabilities, Analyze Backend Changes (Selective Testing), Build and Test Backend API

Remove all app logging except errors
  src/services/src/Demoulas.ProfitSharing.Api/appsettings.Testing.json
Due: Check Backend API for vulnerabilities, Analyze Backend Changes (Selective Testing), Build and Test Backend API

Fix serilog to error
  src/services/src/Demoulas.ProfitSharing.Api/appsettings.Testing.json
Due: Check Backend API for vulnerabilities, Analyze Backend Changes (Selective Testing), Build and Test Backend API

Remove logging
  src/services/src/Demoulas.ProfitSharing.Api/appsettings.Testing.json
Due: Check Backend API for vulnerabilities, Analyze Backend Changes (Selective Testing), Build and Test Backend API

futher reduce log messages
  src/services/src/Demoulas.ProfitSharing.Api/appsettings.Testing.json
  src/services/tests/Demoulas.ProfitSharing.IntegrationTests/Reports/Termination/TerminatedEmployeeAndBeneficiaryReportIntegrationTests.cs
  src/services/tests/Demoulas.ProfitSharing.IntegrationTests/Reports/YearEnd/YearEndServiceTests.cs
  src/services/tests/Demoulas.ProfitSharing.UnitTests/Services/EmployeeMasterInquiryServiceTests.cs
Due: Check Backend API for vulnerabilities, Analyze Backend Changes (Selective Testing), Build and Test Backend API

trigger test
  src/ui/src/pages/InquiriesAndAdjustments/MasterInquiry/MasterInquiry.tsx
Due: Frontend TSC + Lint, Check frontend for vulnerabilities, Build and Test Frontend UI

Trivial change
  src/ui/src/pages/DecemberActivities/DuplicateNamesAndBirthdays/DuplicateNamesAndBirthdays.tsx
Due: Frontend TSC + Lint, Check frontend for vulnerabilities, Build and Test Frontend UI

Fix front end test change detection
  bitbucket-pipelines.yml
Due: none

Path conditions:
  Frontend TSC + Lint: any of: src/ui/**/*.ts, src/ui/**/*.tsx, src/ui/**/*.js, src/ui/**/*.jsx
  Check frontend for vulnerabilities: any of: src/ui/**
  Check Backend API for vulnerabilities: any of: src/services/**/*.cs, src/services/**/*.csproj, src/services/**/*.sln, src/services/**/*.slnx, src/services/**/*.json, src/services/**/*.config
  Analyze Backend Changes (Selective Testing): any of: src/services/**/*.cs, src/services/**/*.csproj, src/services/**/*.sln, src/services/**/*.slnx, src/services/**/*.json, src/services/**/*.config
  Build and Test Backend API: any of: src/services/**/*.cs, src/services/**/*.csproj, src/services/**/*.sln, src/services/**/*.slnx, src/services/**/*.json, src/services/**/*.config
  Build and Test Frontend UI: any of: src/ui/**/*.ts, src/ui/**/*.tsx, src/ui/**/*.js, src/ui/**/*.jsx
