Repository edfactor/encyclo-mapoli: changes, and which Bitbucket steps are due for each by the changed paths.
All: Frontend TSC + Lint, Check frontend for vulnerabilities, Check Backend API for vulnerabilities, Analyze Backend Changes (Selective Testing), Build and Test Backend API, Build and Test Frontend UI

Path conditions:
  Frontend TSC + Lint: any of: src/ui/**/*.ts, src/ui/**/*.tsx, src/ui/**/*.js, src/ui/**/*.jsx
  Check frontend for vulnerabilities: any of: src/ui/**
  Check Backend API for vulnerabilities: any of: src/services/**/*.cs, src/services/**/*.csproj, src/services/**/*.sln, src/services/**/*.slnx, src/services/**/*.json, src/services/**/*.config
  Analyze Backend Changes (Selective Testing): any of: src/services/**/*.cs, src/services/**/*.csproj, src/services/**/*.sln, src/services/**/*.slnx, src/services/**/*.json, src/services/**/*.config
  Build and Test Backend API: any of: src/services/**/*.cs, src/services/**/*.csproj, src/services/**/*.sln, src/services/**/*.slnx, src/services/**/*.json, src/services/**/*.config
  Build and Test Frontend UI: any of: src/ui/**/*.ts, src/ui/**/*.tsx, src/ui/**/*.js, src/ui/**/*.jsx

fixed the issue with beneficiary Of.
  src/services/src/Demoulas.ProfitSharing.Services/BeneficiaryInquiry/BeneficiaryInquiryService.cs
Due: Check Backend API for vulnerabilities, Analyze Backend Changes (Selective Testing), Build and Test Backend API

fixed pipeline issue.
  src/ui/src/pages/Beneficiaries/IndividualBeneficiaryView.tsx
Due: Frontend TSC + Lint, Check frontend for vulnerabilities, Build and Test Frontend UI

Streamline onboarding and VS settings, unify pre-push hooks
  developer_setup/ProfitSharing_InitialSetup.vssettings
  developer_setup/QUICK_START.md
  developer_setup/README.md
  developer_setup/SETUP_AUTOMATION_SUMMARY.md
  developer_setup/Setup-DeveloperEnvironment.ps1
  developer_setup/mac_githooks/README.md
  developer_setup/mac_githooks/pre-push
  developer_setup/windows_githooks/README.md
  developer_setup/windows_githooks/pre-push
  developer_setup/windows_githooks/pre-push.ps1
  developer_setup/winget-config.json
Due: none

Change MasterInquiry default to router navigation
  src/ui/src/pages/DecemberActivities/NegativeEtvaForSSNsOnPayprofit/NegativeEtvaForSSNsOnPayprofitGrid.tsx
  src/ui/src/pages/DecemberActivities/NegativeEtvaForSSNsOnPayprofit/NegativeEtvaForSSNsOnPayprofitGridColumns.ts
  src/ui/src/pages/FiscalClose/Forfeit/ForfeitGrid.tsx
  src/ui/src/pages/FiscalClose/Forfeit/ForfeitGridColumns.ts
  src/ui/src/pages/FiscalClose/PAY426Reports/PAY426N/GetProfitSharingReportGridColumns.tsx
  src/ui/src/pages/FiscalClose/PAY426Reports/PAY426N/ReportGrid.tsx
  src/ui/src/pages/FiscalClose/Profall/ProfallGrid.tsx
  src/ui/src/pages/FiscalClose/Profall/ProfallGridColumns.ts
  src/ui/src/pages/FiscalClose/ProfitShareByStore/BreakdownReport/AssociatesGrid.tsx
  src/ui/src/pages/FiscalClose/ProfitShareByStore/BreakdownReport/AssociatesGridColumns.ts
  src/ui/src/pages/FiscalClose/ProfitShareByStore/BreakdownReport/StoreManagementGrid.tsx
  src/ui/src/pages/FiscalClose/ProfitShareByStore/BreakdownReport/StoreManagementGridColumns.ts
  src/ui/src/pages/FiscalClose/ProfitShareByStore/PostFrozenUnder21ReportGrid.tsx
  src/ui/src/pages/FiscalClose/ProfitShareByStore/PostFrozenUnder21ReportGridColumns.tsx
  src/ui/src/pages/FiscalClose/ProfitShareByStore/Under21ReportGrid.tsx
  src/ui/src/pages/FiscalClose/ProfitShareByStore/Under21ReportGridColumns.ts
  src/ui/src/pages/FiscalClose/ProfitShareGrossReport/ProfitShareGrossReportColumns.ts
  src/ui/src/pages/FiscalClose/ProfitShareGrossReport/ProfitShareGrossReportGrid.tsx
  src/ui/src/pages/InquiriesAndAdjustments/MasterInquiry/MasterInquiryMemberDetails.tsx
  src/ui/src/pages/InquiriesAndAdjustments/MasterInquiry/__test__/MasterInquiryMemberDetails.test.tsx
  src/ui/src/pages/Reports/PayBeNext/PayBeNextGridColumns.tsx
  src/ui/src/pages/Reports/PayBenReport/PayBenReportGridColumns.tsx
  src/ui/src/utils/gridColumnFactory.ts
  src/ui/src/utils/viewBadgeLinkRenderer.tsx
Due: Frontend TSC + Lint, Check frontend for vulnerabilities, Build and Test Frontend UI

Increase speed of commit operation using SQL
  .github/instructions/demoulas.common.contracts.instructions.md
  src/services/src/Demoulas.ProfitSharing.Services/YearEndService.cs
Due: Check Backend API for vulnerabilities, Analyze Backend Changes (Selective Testing), Build and Test Backend API

Exact agreement between READY/SMART on updated and shifted Scramble
  src/database/ready_import/SQL copy all from ready to smart ps.sql
  src/services/src/Demoulas.ProfitSharing.Services/Reports/TerminatedEmployeeAndBeneficiaryReport/TerminatedEmployeeReportService.cs
  src/services/tests/Demoulas.ProfitSharing.IntegrationTests/Reports/Termination/TerminatedEmployeeAndBeneficiaryReportIntegrationTests.cs
  src/services/tests/Demoulas.ProfitSharing.IntegrationTests/Reports/Termination/TextReportGenerator.cs
  src/services/tests/Demoulas.ProfitSharing.IntegrationTests/Reports/YearEnd/PristineBaseTest.cs
Due: Check Backend API for vulnerabilities, Analyze Backend Changes (Selective Testing), Build and Test Backend API

fixed suggestions asked by Phil in the PR.
  src/ui/src/pages/Beneficiaries/BeneficiaryInquiry.tsx
  src/ui/src/pages/Beneficiaries/IndividualBeneficiaryView.tsx
Due: Frontend TSC + Lint, Check frontend for vulnerabilities, Build and Test Frontend UI

fixed pipeline issue.
  src/ui/src/pages/Beneficiaries/hooks/useBeneficiaryRelationshipData.ts
Due: Frontend TSC + Lint, Check frontend for vulnerabilities, Build and Test Frontend UI

used member detail component to show details instead of beneficiary Detail.
  src/services/src/Demoulas.ProfitSharing.Common/Contracts/Request/BeneficiaryInquiry/BeneficiaryDetailRequest.cs
  src/services/src/Demoulas.ProfitSharing.Common/Contracts/Response/BeneficiaryInquiry/BeneficiarySearchFilterResponse.cs
  src/services/src/Demoulas.ProfitSharing.Services/BeneficiaryInquiry/BeneficiaryInquiryService.cs
  src/ui/src/pages/Beneficiaries/BeneficiaryInquiry.tsx
  src/ui/src/pages/Beneficiaries/IndividualBeneficiaryView.tsx
  src/ui/src/types/beneficiary/beneficiary.ts
Due: Frontend TSC + Lint, Check frontend for vulnerabilities, Check Backend API for vulnerabilities, Analyze Backend Changes (Selective Testing), Build and Test Backend API, Build and Test Frontend UI

resolve pipeline issues.
  src/ui/src/pages/Beneficiaries/hooks/__test__/useBeneficiaryRelationshipData.test.ts
  src/ui/src/pages/Beneficiaries/hooks/useBeneficiaryRelationshipData.ts
Due: Frontend TSC + Lint, Check frontend for vulnerabilities, Build and Test Frontend UI

remove unneccesaary file generation.
  .github/instructions/code-review.instructions.md
Due: none

Add TotalVestedBalance to account history report totals
  src/services/src/Demoulas.ProfitSharing.Common/Contracts/Response/AccountHistoryReportTotals.cs
  src/services/src/Demoulas.ProfitSharing.Services/Reports/AccountHistoryReportService.cs
Due: Check Backend API for vulnerabilities, Analyze Backend Changes (Selective Testing), Build and Test Backend API

Update .editorconfig: set indent to 4, charset to utf-8
  src/services/.editorconfig
Due: none

Move IT_DEVOPS role assignment for YEAR_END_MENU for clarity
  src/database/ready_import/Navigations/add-uat-navigation-data.sql
Due: none

Update .editorconfig for formatting and C# style rules
  src/services/.editorconfig
Due: none

Expand schema: add vesting, tax, forfeiture, history
  src/database/ready_import/SQL copy all from ready to smart ps.sql
  src/services/src/Demoulas.ProfitSharing.Data/Contexts/EntityMapping/DemographicHistoryMap.cs
  src/services/src/Demoulas.ProfitSharing.Data/Migrations/20260114181522_initialMigrations.Designer.cs
  src/services/src/Demoulas.ProfitSharing.Data/Migrations/20260114181522_initialMigrations.cs
  src/services/src/Demoulas.ProfitSharing.Data/Migrations/ProfitSharingDbContextModelSnapshot.cs
Due: Check Backend API for vulnerabilities, Analyze Backend Changes (Selective Testing), Build and Test Backend API

Add validation for QPAY066TA
  .claude/settings.local.json
  .github/instructions/demoulas.common.contracts.instructions.md
  src/services/src/Demoulas.ProfitSharing.Common/Contracts/Response/YearEnd/BreakdownByStoreTotals.cs
  src/services/src/Demoulas.ProfitSharing.Common/Contracts/Response/YearEnd/Frozen/ProfitShareUpdateTotals.cs
  src/services/src/Demoulas.ProfitSharing.Common/Contracts/Response/YearEnd/ProfitShareEditResponse.cs
  src/services/src/Demoulas.ProfitSharing.Common/Interfaces/ICrossReferenceValidationService.cs
  src/services/src/Demoulas.ProfitSharing.Endpoints/Endpoints/CrossReference/GetMasterUpdateValidationEndpoint.cs
  src/services/src/Demoulas.ProfitSharing.Endpoints/Endpoints/Reports/YearEnd/ProfitMaster/ProfitMasterUpdateEndpoint.cs
  src/services/src/Demoulas.ProfitSharing.Services/ItDevOps/FrozenService.cs
  src/services/src/Demoulas.ProfitSharing.Services/Reports/Breakdown/BreakdownReportService.cs
  src/services/src/Demoulas.ProfitSharing.Services/Validation/CrossReferenceValidationService.cs
  src/services/tests/Demoulas.ProfitSharing.UnitTests/Reports/Adhoc/AccountHistoryReportServiceTests.cs
  src/services/tests/Demoulas.ProfitSharing.UnitTests/Reports/YearEnd/ProfitSharingSummaryReportRegressionTests.cs
  src/ui/src/pages/FiscalClose/ProfitShareByStore/BreakdownReport/TotalsContent.tsx
  src/ui/src/pages/FiscalClose/ProfitShareEditUpdate/hooks/useProfitShareEditUpdate.ts
  src/ui/src/types/reports/breakdown.ts
  src/ui/src/types/reports/profit-sharing.ts
Due: Frontend TSC + Lint, Check frontend for vulnerabilities, Check Backend API for vulnerabilities, Analyze Backend Changes (Selective Testing), Build and Test Backend API, Build and Test Frontend UI

Initial EF Core schema and DemographicHistory enhancements
  src/services/.editorconfig
  src/services/README.md
  src/services/src/Demoulas.ProfitSharing.Data/Entities/Demographic.cs
  src/services/src/Demoulas.ProfitSharing.Data/Entities/DemographicHistory.cs
  src/services/src/Demoulas.ProfitSharing.Data/Migrations/20260114174756_initialMigrations.Designer.cs
  src/services/src/Demoulas.ProfitSharing.Data/Migrations/20260114174756_initialMigrations.cs
  src/services/src/Demoulas.ProfitSharing.Data/Migrations/ProfitSharingDbContextModelSnapshot.cs
  src/services/src/Demoulas.ProfitSharing.OracleHcm/Services/DemographicHistoryService.cs
  src/services/tests/Demoulas.ProfitSharing.UnitTests/OracleHcm/Services/DemographicServiceTests.cs
  temp_create_migration.ps1
Due: Check Backend API for vulnerabilities, Analyze Backend Changes (Selective Testing), Build and Test Backend API

Cleanup
  .claude/settings.local.json
  .github/instructions/demoulas.common.contracts.instructions.md
Due: none

Add warehouse DB connection support to pipeline
  bitbucket-pipelines.yml
Due: none

resolved PS-2051 (fixing position of add button) and PS-2074 (visibility issue with percentage)
  src/ui/src/pages/Beneficiaries/BeneficiariesListGridColumns.ts
  src/ui/src/pages/Beneficiaries/IndividualBeneficiaryView.tsx
Due: Frontend TSC + Lint, Check frontend for vulnerabilities, Build and Test Frontend UI

Exact agreement between READY/SMART on updated and shifted Scramble
  src/services/src/Demoulas.ProfitSharing.Services/Reports/TerminatedEmployeeAndBeneficiaryReport/TerminatedEmployeeReportService.cs
  src/services/tests/Demoulas.ProfitSharing.IntegrationTests/Reports/Termination/TerminatedEmployeeAndBeneficiaryReportIntegrationTests.cs
Due: Check Backend API for vulnerabilities, Analyze Backend Changes (Selective Testing), Build and Test Backend API

merge fixes
  src/services/src/Demoulas.ProfitSharing.Services/ForfeitureAdjustmentService.cs
  src/services/tests/Demoulas.ProfitSharing.IntegrationTests/Reports/Termination/TerminatedEmployeeAndBeneficiaryReportIntegrationTests.cs
  src/services/tests/Demoulas.ProfitSharing.IntegrationTests/Reports/YearEnd/Breakdown/BreakdownReportByStoreTests.cs
  src/services/tests/Demoulas.ProfitSharing.IntegrationTests/Reports/YearEnd/PristineBaseTest.cs
Due: Check Backend API for vulnerabilities, Analyze Backend Changes (Selective Testing), Build and Test Backend API

add back missing file
  docs/code-review.instructions.md
Due: none

bah
  .github/instructions/code-review.instructions.md
Due: none

Update documentation and improve code consistency across services
  .github/instructions/demoulas.common.contracts.instructions.md
  .github/instructions/demoulas.common.logging.instructions.md
  src/database/ready_import/SQL copy all from ready to smart ps.sql
  src/services/.editorconfig
  src/services/Directory.Packages.props
  src/services/src/Demoulas.ProfitSharing.Api/Program.cs
  src/services/src/Demoulas.ProfitSharing.Data/Contexts/EntityMapping/CountryMap.cs
  src/services/src/Demoulas.ProfitSharing.Reporting/Core/BasePdfReport.cs
  src/services/src/Demoulas.ProfitSharing.Services/ProfitShareEdit/EmployeeProcessorHelper.cs
  src/services/src/Demoulas.ProfitSharing.Services/Reports/CleanupReportService.cs
  src/services/src/Demoulas.ProfitSharing.Services/TotalService.cs
  src/services/tests/Demoulas.ProfitSharing.IntegrationTests/Reports/YearEnd/QPAY129/QPAY129Test.cs
Due: Check Backend API for vulnerabilities, Analyze Backend Changes (Selective Testing), Build and Test Backend API

Refactor SSN lookups to use ILookup for robustness
  src/services/src/Demoulas.ProfitSharing.Api/Program.cs
  src/services/src/Demoulas.ProfitSharing.AppHost/Helpers/ResourceManager.cs
  src/services/src/Demoulas.ProfitSharing.AppHost/Program.cs
  src/services/src/Demoulas.ProfitSharing.Data.Cli/GenerateScriptHelper.cs
  src/services/src/Demoulas.ProfitSharing.Data.Cli/Program.cs
  src/services/src/Demoulas.ProfitSharing.OracleHcm/Services/DemographicsService.cs
  src/services/src/Demoulas.ProfitSharing.Services/EnrollmentFlag/EnrollmentSummarizer.cs
  src/services/src/Demoulas.ProfitSharing.Services/ProfitShareEdit/BeneficiariesProcessingHelper.cs
  src/services/src/Demoulas.ProfitSharing.Services/ProfitShareEdit/ProfitShareUpdateService.cs
  src/services/src/Demoulas.ProfitSharing.Services/Reports/AdhocBeneficiariesReport.cs
  src/services/src/Demoulas.ProfitSharing.Services/Reports/Breakdown/BreakdownReportService.cs
  src/services/src/Demoulas.ProfitSharing.Services/Reports/EmployeesWithProfitsOver73Service.cs
  src/services/src/Demoulas.ProfitSharing.Services/Reports/ForfeituresAndPointsForYearService.cs
  src/services/src/Demoulas.ProfitSharing.Services/Reports/TerminatedEmployeeAndBeneficiaryReport/TerminatedEmployeeReportService.cs
  src/services/src/Demoulas.ProfitSharing.Services/TotalService.cs
  src/services/src/Demoulas.ProfitSharing.Services/YearEndService.cs
  src/services/tests/Demoulas.ProfitSharing.IntegrationTests/Reports/YearEnd/QPAY129/QPAY129Test.cs
  src/services/tests/Demoulas.ProfitSharing.UnitTests/Endpoints/Beneficiaries/BeneficiaryDisbursementEndpointTests.cs
  src/services/tests/Demoulas.ProfitSharing.UnitTests/Endpoints/Distributions/CreateDistributionEndpointTests.cs
  src/services/tests/Demoulas.ProfitSharing.UnitTests/Endpoints/Distributions/DeleteDistributionEndpointTests.cs
  src/services/tests/Demoulas.ProfitSharing.UnitTests/Endpoints/Distributions/UpdateDistributionEndpointTests.cs
  src/services/tests/Demoulas.ProfitSharing.UnitTests/Endpoints/ProfitDetails/ProfitDetailReversalsEndpointTests.cs
  src/services/tests/Demoulas.ProfitSharing.UnitTests/OracleHcm/Services/DemographicServiceTests.cs
  src/services/tests/Demoulas.ProfitSharing.UnitTests/Services/ItDevOps/OracleHcmDiagnosticsServiceTests.cs
Due: Check Backend API for vulnerabilities, Analyze Backend Changes (Selective Testing), Build and Test Backend API

Refactor BeneficiariesProcessingHelper and TotalService to remove duplicate SSN report service dependency
  src/services/src/Demoulas.ProfitSharing.Services/ProfitShareEdit/BeneficiariesProcessingHelper.cs
  src/services/src/Demoulas.ProfitSharing.Services/ProfitShareEdit/ProfitShareUpdateService.cs
  src/services/src/Demoulas.ProfitSharing.Services/TotalService.cs
Due: Check Backend API for vulnerabilities, Analyze Backend Changes (Selective Testing), Build and Test Backend API

Update .editorconfig for improved code style and analyzer rules
  src/services/.editorconfig
Due: none

Show 2024 VestedBalance
  src/services/tests/Demoulas.ProfitSharing.IntegrationTests/Reports/Termination/TerminatedEmployeeAndBeneficiaryReportIntegrationTests.cs
Due: Check Backend API for vulnerabilities, Analyze Backend Changes (Selective Testing), Build and Test Backend API

Initial schema and vesting refactor: per-year tracking
  src/database/ready_import/SQL copy all from ready to smart ps.sql
  src/services/.editorconfig
  src/services/src/Demoulas.ProfitSharing.Data.Cli/RebuildEnrollmentAndZeroContService.cs
  src/services/src/Demoulas.ProfitSharing.Data/Contexts/EntityMapping/DemographicHistoryMap.cs
  src/services/src/Demoulas.ProfitSharing.Data/Contexts/EntityMapping/DemographicMap.cs
  src/services/src/Demoulas.ProfitSharing.Data/Contexts/EntityMapping/PayProfitMap.cs
  src/services/src/Demoulas.ProfitSharing.Data/Entities/Demographic.cs
  src/services/src/Demoulas.ProfitSharing.Data/Entities/DemographicHistory.cs
  src/services/src/Demoulas.ProfitSharing.Data/Entities/PayProfit.cs
  src/services/src/Demoulas.ProfitSharing.Data/Migrations/20260116001849_initialMigration.Designer.cs
  src/services/src/Demoulas.ProfitSharing.Data/Migrations/20260116001849_initialMigration.cs
  src/services/src/Demoulas.ProfitSharing.Data/Migrations/ProfitSharingDbContextModelSnapshot.cs
  src/services/src/Demoulas.ProfitSharing.OracleHcm/Services/DemographicHistoryService.cs
  src/services/src/Demoulas.ProfitSharing.OracleHcm/Services/PayrollSyncService.cs
  src/services/src/Demoulas.ProfitSharing.Services/EmbeddedSqlService.cs
  src/services/src/Demoulas.ProfitSharing.Services/ForfeitureAdjustmentService.cs
  src/services/src/Demoulas.ProfitSharing.Services/MasterInquiry/EmployeeMasterInquiryService.cs
  src/services/src/Demoulas.ProfitSharing.Services/MissiveService.cs
  src/services/src/Demoulas.ProfitSharing.Services/PayProfitUpdateService.cs
  src/services/src/Demoulas.ProfitSharing.Services/ProfitShareEdit/EmployeeProcessorHelper.cs
  src/services/src/Demoulas.ProfitSharing.Services/Reports/Breakdown/BreakdownReportService.cs
  src/services/src/Demoulas.ProfitSharing.Services/Reports/CleanupReportService.cs
  src/services/src/Demoulas.ProfitSharing.Services/Reports/FrozenReportService.cs
  src/services/src/Demoulas.ProfitSharing.Services/Reports/PostFrozenService.cs
  src/services/src/Demoulas.ProfitSharing.Services/Reports/ProfitSharingSummaryReportService.cs
  src/services/src/Demoulas.ProfitSharing.Services/Reports/TerminatedEmployeeAndBeneficiaryReport/TerminatedEmployeeReportService.cs
  src/services/src/Demoulas.ProfitSharing.Services/Reports/UnForfeitService.cs
  src/services/tests/Demoulas.ProfitSharing.IntegrationTests/Reports/YearEnd/ProfitShareUpdate/ProfitShareUpdateReport.cs
  src/services/tests/Demoulas.ProfitSharing.IntegrationTests/Reports/YearEnd/UpdateSummary/UpdateSummaryTests.cs
  src/services/tests/Demoulas.ProfitSharing.IntegrationTests/TotalSvc/SmartPayProfitLoader.cs
  src/services/tests/Demoulas.ProfitSharing.UnitTests.Common/Fakes/PayProfitFaker.cs
  src/services/tests/Demoulas.ProfitSharing.UnitTests.Common/Mocks/ScenarioFactory.cs
  src/services/tests/Demoulas.ProfitSharing.UnitTests.Common/Mocks/StockFactory.cs
  src/services/tests/Demoulas.ProfitSharing.UnitTests/OracleHcm/Services/DemographicServiceTests.cs
  src/services/tests/Demoulas.ProfitSharing.UnitTests/Reports/YearEnd/ProfitShareUpdateServiceEndpointTests.cs
  src/services/tests/Demoulas.ProfitSharing.UnitTests/Reports/YearEnd/ProfitSharingSummaryReportRegressionTests.cs
  src/services/tests/Demoulas.ProfitSharing.UnitTests/Reports/YearEnd/RehireForfeituresTests.cs
  src/services/tests/Demoulas.ProfitSharing.UnitTests/Services/EnrollmentSummarizerTests.cs
  src/services/tests/Demoulas.ProfitSharing.UnitTests/Services/ForfeitureAdjustmentServiceTests.cs
Due: Check Backend API for vulnerabilities, Analyze Backend Changes (Selective Testing), Build and Test Backend API

Cleanup
  .gitignore
  src/services/src/Demoulas.ProfitSharing.Services/YearEndService.cs
  src/services/tests/Demoulas.ProfitSharing.IntegrationTests/Reports/YearEnd/PristineBaseTest.cs
  src/services/tests/Demoulas.ProfitSharing.IntegrationTests/Reports/YearEnd/YearEndServiceTests.cs
Due: Check Backend API for vulnerabilities, Analyze Backend Changes (Selective Testing), Build and Test Backend API

Get profit code values from codebase
  src/services/src/Demoulas.ProfitSharing.Services/YearEndService.cs
Due: Check Backend API for vulnerabilities, Analyze Backend Changes (Selective Testing), Build and Test Backend API

No code changes in this commit
  src/services/src/Demoulas.ProfitSharing.Endpoints/Endpoints/Administration/Corrections/GetProfitSharingAdjustmentsEndpoint.cs
  src/services/src/Demoulas.ProfitSharing.Endpoints/Endpoints/Administration/Corrections/ProfitDetailReversalsEndpoint.cs
  src/services/src/Demoulas.ProfitSharing.Endpoints/Endpoints/Administration/Corrections/SaveProfitSharingAdjustmentsEndpoint.cs
  src/services/src/Demoulas.ProfitSharing.Endpoints/Endpoints/Administration/DataQualityDiagnostics/AuditSearchEndpoint.cs
  src/services/src/Demoulas.ProfitSharing.Endpoints/Endpoints/Administration/DataQualityDiagnostics/GetAuditChangeEntryEndpoint.cs
  src/services/src/Demoulas.ProfitSharing.Endpoints/Endpoints/Beneficiaries/Inquiry/BeneficiaryDetailEndpoint.cs
  src/services/src/Demoulas.ProfitSharing.Endpoints/Endpoints/Beneficiaries/Inquiry/BeneficiaryEndpoint.cs
  src/services/src/Demoulas.ProfitSharing.Endpoints/Endpoints/Beneficiaries/Inquiry/BeneficiarySearchFilterEndpoint.cs
  src/services/src/Demoulas.ProfitSharing.Endpoints/Endpoints/Beneficiaries/Inquiry/BeneficiaryTypeEndpoint.cs
  src/services/src/Demoulas.ProfitSharing.Endpoints/Endpoints/InquiriesAndAdjustments/Inquiries/MasterInquiryFilteredDetailsEndpoint.cs
  src/services/src/Demoulas.ProfitSharing.Endpoints/Endpoints/InquiriesAndAdjustments/Inquiries/MasterInquiryMemberDetailsEndpoint.cs
  src/services/src/Demoulas.ProfitSharing.Endpoints/Endpoints/InquiriesAndAdjustments/Inquiries/MasterInquiryMemberEndpoint.cs
  src/services/src/Demoulas.ProfitSharing.Endpoints/Endpoints/InquiriesAndAdjustments/Inquiries/MasterInquirySearchEndpoint.cs
  src/services/src/Demoulas.ProfitSharing.Endpoints/Endpoints/YearEnd/Validation/GetMasterUpdateValidationEndpoint.cs
  src/services/src/Demoulas.ProfitSharing.Endpoints/Endpoints/YearEnd/Validation/GetProfitSharingReportValidationEndpoint.cs
Due: Check Backend API for vulnerabilities, Analyze Backend Changes (Selective Testing), Build and Test Backend API
