Repository edfactor/encyclo-mapoli: changes, and which Bitbucket steps are due for each by the changed paths.
All: Frontend TSC + Lint, Check frontend for vulnerabilities, Check Backend API for vulnerabilities, Analyze Backend Changes (Selective Testing), Build and Test Backend API, Build and Test Frontend UI

Path conditions:
  Frontend TSC + Lint: any of: src/ui/**/*.ts, src/ui/**/*.tsx, src/ui/**/*.js, src/ui/**/*.jsx
  Check frontend for vulnerabilities: any of: src/ui/**
  Check Backend API for vulnerabilities: any of: src/services/**/*.cs, src/services/**/*.csproj, src/services/**/*.sln, src/services/**/*.slnx, src/services/**/*.json, src/services/**/*.config
  Analyze Backend Changes (Selective Testing): any of: src/services/**/*.cs, src/services/**/*.csproj, src/services/**/*.sln, src/services/**/*.slnx, src/services/**/*.json, src/services/**/*.config
  Build and Test Backend API: any of: src/services/**/*.cs, src/services/**/*.csproj, src/services/**/*.sln, src/services/**/*.slnx, src/services/**/*.json, src/services/**/*.config
  Build and Test Frontend UI: any of: src/ui/**/*.ts, src/ui/**/*.tsx, src/ui/**/*.js, src/ui/**/*.jsx

Lower logger threshold, update test DTO and usings
  src/services/tests/Demoulas.ProfitSharing.UnitTests.Architecture/Architecture/InstructionBasedArchitectureRulesTests.cs
  src/services/tests/Demoulas.ProfitSharing.UnitTests/Reports/YearEnd/TerminatedEmployeeAndBeneficiaryTests.cs
Due: Check Backend API for vulnerabilities, Analyze Backend Changes (Selective Testing), Build and Test Backend API

Update docs, config, and audit/security guidelines
  .github/instructions/demoulas.common.api.instructions.md
  .github/instructions/demoulas.common.caching.instructions.md
  .github/instructions/demoulas.common.contracts.instructions.md
  .github/instructions/demoulas.common.data.instructions.md
  .github/instructions/demoulas.common.logging.instructions.md
  .github/instructions/demoulas.common.security.instructions.md
  .github/instructions/demoulas.util.instructions.md
  .github/instructions/smart.code-review.instructions.md
  .github/instructions/smart.restful-api-guidelines.instructions.md
  src/services/.editorconfig
  src/services/Directory.Packages.props
  src/services/src/Demoulas.ProfitSharing.OracleHcm/Extensions/OracleHcmExtension.cs
  src/services/src/Demoulas.ProfitSharing.Services/Extensions/ServicesExtension.cs
  src/services/src/Demoulas.ProfitSharing.Services/Navigations/NavigationService.cs
  src/services/tests/Demoulas.ProfitSharing.IntegrationTests/Reports/YearEnd/PristineBaseTest.cs
  src/services/tests/Demoulas.ProfitSharing.UnitTests/Endpoints/Navigations/NavigationServiceTest.cs
  src/services/tests/Demoulas.ProfitSharing.UnitTests/Reports/Adhoc/AccountHistoryReportServiceTests.cs
Due: Check Backend API for vulnerabilities, Analyze Backend Changes (Selective Testing), Build and Test Backend API

Make EmploymentStatusId nullable
  src/services/src/Demoulas.ProfitSharing.Common/Contracts/Response/MasterInquiry/MasterInquiryResponseDto.cs
  src/services/src/Demoulas.ProfitSharing.Services/MasterInquiry/MasterInquiryService.cs
  src/ui/src/types/master-inquiry/master-inquiry.ts
Due: Frontend TSC + Lint, Check frontend for vulnerabilities, Check Backend API for vulnerabilities, Analyze Backend Changes (Selective Testing), Build and Test Backend API, Build and Test Frontend UI

Fixed all reports that cleared content area while loading data
  src/ui/src/hooks/__test__/useCachedPrevious.test.tsx
  src/ui/src/hooks/useCachedPrevious.ts
  src/ui/src/pages/DecemberActivities/DistributionsAndForfeitures/DistributionsAndForfeituresGrid.tsx
  src/ui/src/pages/DecemberActivities/ManageExecutiveHoursAndDollars/ManageExecutiveHoursAndDollars.tsx
  src/ui/src/pages/DecemberActivities/ManageExecutiveHoursAndDollars/ManageExecutiveHoursAndDollarsGrid.tsx
  src/ui/src/pages/FiscalClose/PAY426Reports/PAY426N/ReportGrid.tsx
  src/ui/src/pages/FiscalClose/PaymasterUpdate/PayMasterUpdateSummary.tsx
  src/ui/src/pages/FiscalClose/ProfitShareByStore/PostFrozenUnder21ReportGrid.tsx
  src/ui/src/pages/FiscalClose/ProfitShareByStore/Under21/Under21BreakdownGrid.tsx
  src/ui/src/pages/FiscalClose/ProfitShareByStore/Under21/Under21TA.tsx
  src/ui/src/pages/FiscalClose/ProfitShareByStore/Under21Report.tsx
  src/ui/src/pages/InquiriesAndAdjustments/MasterInquiry/MasterInquiry.tsx
  src/ui/src/pages/InquiriesAndAdjustments/MasterInquiry/MasterInquiryMemberGrid.tsx
  src/ui/src/pages/InquiriesAndAdjustments/MasterInquiry/__test__/MasterInquiryMemberDetails.test.tsx
  src/ui/src/pages/Reports/AdhocProfLetter73/AdhocProfLetter73.tsx
  src/ui/src/pages/Reports/AdhocProfLetter73/AdhocProfLetter73Grid.tsx
  src/ui/src/utils/viewBadgeLinkRenderer.tsx
Due: Frontend TSC + Lint, Check frontend for vulnerabilities, Build and Test Frontend UI

Additional changes that didn't go up with last commit
  src/ui/src/pages/FiscalClose/ProfitShareByStore/Under21/Under21BreakdownGrid.tsx
  src/ui/src/pages/FiscalClose/ProfitShareByStore/Under21/Under21TA.tsx
Due: Frontend TSC + Lint, Check frontend for vulnerabilities, Build and Test Frontend UI

Update Demoulas.Common.Data.Services to 4.0.1-beta14
  src/services/Directory.Packages.props
Due: none

Allow provider to be turned on/off while server is running
  src/services/src/Demoulas.ProfitSharing.Common/Contracts/Response/ItOperations/FakeTimeStatusResponse.cs
  src/services/src/Demoulas.ProfitSharing.Common/Time/SwitchableTimeProvider.cs
  src/services/src/Demoulas.ProfitSharing.Common/Time/TimeProviderExtensions.cs
  src/services/src/Demoulas.ProfitSharing.Endpoints/Endpoints/ItOperations/GetFakeTimeStatusEndpoint.cs
  src/services/src/Demoulas.ProfitSharing.Endpoints/Endpoints/ItOperations/SetFakeTimeEndpoint.cs
  src/services/src/Demoulas.ProfitSharing.Services/Extensions/ServicesExtension.cs
  src/services/tests/Demoulas.ProfitSharing.UnitTests/Common/Time/FakeTimeProviderTests.cs
  src/ui/src/pages/ITOperations/FakeTimeManagement/FakeTimeManagement.tsx
  src/ui/src/reduxstore/api/ItOperationsApi.ts
  src/ui/src/types/it-operations/fake-time.ts
Due: Frontend TSC + Lint, Check frontend for vulnerabilities, Check Backend API for vulnerabilities, Analyze Backend Changes (Selective Testing), Build and Test Backend API, Build and Test Frontend UI

Allow provider to be turned on/off per user
  src/services/src/Demoulas.ProfitSharing.Common/Contracts/Response/ItOperations/AllUserFakeTimeResponse.cs
  src/services/src/Demoulas.ProfitSharing.Common/Contracts/Response/ItOperations/UserFakeTimeStatusResponse.cs
  src/services/src/Demoulas.ProfitSharing.Common/Time/IUserFakeTimeStorage.cs
  src/services/src/Demoulas.ProfitSharing.Common/Time/IUserTimeService.cs
  src/services/src/Demoulas.ProfitSharing.Common/Time/UserFakeTimeSettings.cs
  src/services/src/Demoulas.ProfitSharing.Common/Time/UserFakeTimeStorage.cs
  src/services/src/Demoulas.ProfitSharing.Common/Time/UserTimeService.cs
  src/services/src/Demoulas.ProfitSharing.Endpoints/Endpoints/ItOperations/DeleteMyFakeTimeEndpoint.cs
  src/services/src/Demoulas.ProfitSharing.Endpoints/Endpoints/ItOperations/GetAllUserFakeTimeEndpoint.cs
  src/services/src/Demoulas.ProfitSharing.Endpoints/Endpoints/ItOperations/GetMyFakeTimeEndpoint.cs
  src/services/src/Demoulas.ProfitSharing.Endpoints/Endpoints/ItOperations/SetMyFakeTimeEndpoint.cs
  src/services/src/Demoulas.ProfitSharing.Services/Extensions/ServicesExtension.cs
  src/ui/src/pages/ITOperations/FakeTimeManagement/FakeTimeManagement.tsx
  src/ui/src/reduxstore/api/ItOperationsApi.ts
  src/ui/src/types/it-operations/fake-time.ts
Due: Frontend TSC + Lint, Check frontend for vulnerabilities, Check Backend API for vulnerabilities, Analyze Backend Changes (Selective Testing), Build and Test Backend API, Build and Test Frontend UI

Inject time provider in remaining areas
  src/services/src/Demoulas.ProfitSharing.Endpoints/Endpoints/Military/GetMilitaryContributionRecords.cs
  src/services/src/Demoulas.ProfitSharing.Services/ProfitDetailReversalsService.cs
  src/services/src/Demoulas.ProfitSharing.Services/ProfitShareEdit/EmployeeProcessorHelper.cs
  src/services/src/Demoulas.ProfitSharing.Services/ProfitShareEdit/ProfitShareUpdateService.cs
  src/services/src/Demoulas.ProfitSharing.Services/Reports/Breakdown/BreakdownReportService.cs
  src/services/src/Demoulas.ProfitSharing.Services/Reports/EmployeesWithProfitsOver73Service.cs
  src/services/src/Demoulas.ProfitSharing.Services/Reports/PayrollDuplicateSsnReportService.cs
  src/services/src/Demoulas.ProfitSharing.Services/Reports/TerminatedEmployeeAndBeneficiaryReport/TerminatedEmployeeReportService.cs
  src/services/tests/Demoulas.ProfitSharing.IntegrationTests/Reports/YearEnd/Breakdown/BreakdownReportByStoreTests.cs
  src/services/tests/Demoulas.ProfitSharing.IntegrationTests/Reports/YearEnd/ProfitEdit/ProfitEditReportTests.cs
  src/services/tests/Demoulas.ProfitSharing.IntegrationTests/Reports/YearEnd/ProfitMaster/ProfitMasterTests.cs
  src/services/tests/Demoulas.ProfitSharing.IntegrationTests/Reports/YearEnd/ProfitShareUpdate/ProfitShareUpdateReport.cs
  src/services/tests/Demoulas.ProfitSharing.UnitTests/Services/ProfitDetailReversalsServiceTests.cs
Due: Check Backend API for vulnerabilities, Analyze Backend Changes (Selective Testing), Build and Test Backend API

Refactor: remove obsolete audit-related classes and interfaces
  src/services/src/Demoulas.ProfitSharing.Common/Contracts/Request/Audit/AuditChangeEntryInput.cs
  src/services/src/Demoulas.ProfitSharing.Common/Contracts/Request/Audit/AuditSearchRequestDto.cs
  src/services/src/Demoulas.ProfitSharing.Common/Interfaces/Audit/IAuditService.cs
  src/services/src/Demoulas.ProfitSharing.Common/Interfaces/Audit/IDoNotAudit.cs
  src/services/src/Demoulas.ProfitSharing.Services/Audit/AuditService.cs
  src/services/src/Demoulas.ProfitSharing.Services/Audit/CommonAuditServiceAdapter.cs
Due: Check Backend API for vulnerabilities, Analyze Backend Changes (Selective Testing), Build and Test Backend API

Revert "Refactor: remove obsolete audit-related classes and interfaces"
  src/services/src/Demoulas.ProfitSharing.Common/Contracts/Request/Audit/AuditChangeEntryInput.cs
  src/services/src/Demoulas.ProfitSharing.Common/Contracts/Request/Audit/AuditSearchRequestDto.cs
  src/services/src/Demoulas.ProfitSharing.Common/Interfaces/Audit/IAuditService.cs
  src/services/src/Demoulas.ProfitSharing.Common/Interfaces/Audit/IDoNotAudit.cs
  src/services/src/Demoulas.ProfitSharing.Services/Audit/AuditService.cs
  src/services/src/Demoulas.ProfitSharing.Services/Audit/CommonAuditServiceAdapter.cs
Due: Check Backend API for vulnerabilities, Analyze Backend Changes (Selective Testing), Build and Test Backend API

Refactor to use shared audit contracts and entities
  src/services/src/Demoulas.ProfitSharing.Common/Contracts/Request/Audit/AuditChangeEntryInput.cs
  src/services/src/Demoulas.ProfitSharing.Common/Contracts/Request/Audit/AuditSearchRequestDto.cs
  src/services/src/Demoulas.ProfitSharing.Common/Contracts/Response/Audit/AuditChangeEntryDto.cs
  src/services/src/Demoulas.ProfitSharing.Common/Contracts/Response/Audit/AuditEventDto.cs
  src/services/src/Demoulas.ProfitSharing.Common/Interfaces/Audit/IProfitSharingAuditService.cs
  src/services/src/Demoulas.ProfitSharing.Data/Contexts/EntityMapping/Audit/AuditEventMap.cs
  src/services/src/Demoulas.ProfitSharing.Data/Extensions/ContextExtensions.cs
  src/services/src/Demoulas.ProfitSharing.Data/Extensions/DatabaseServicesExtension.cs
  src/services/src/Demoulas.ProfitSharing.Data/Interceptors/AuditSaveChangesInterceptor.cs
  src/services/src/Demoulas.ProfitSharing.Endpoints/Endpoints/Administration/Banks/CreateBankAccountEndpoint.cs
  src/services/src/Demoulas.ProfitSharing.Services/Administration/BankAccountService.cs
  src/services/src/Demoulas.ProfitSharing.Services/Administration/CommentTypeService.cs
  src/services/src/Demoulas.ProfitSharing.Services/Audit/CommonAuditServiceAdapter.cs
  src/services/src/Demoulas.ProfitSharing.Services/Audit/ProfitSharingProfitSharingAuditService.cs
  src/services/src/Demoulas.ProfitSharing.Services/Extensions/ServicesExtension.cs
  src/services/src/Demoulas.ProfitSharing.Services/ForfeitureAdjustmentService.cs
  src/services/src/Demoulas.ProfitSharing.Services/ItDevOps/AnnuityRatesService.cs
  src/services/src/Demoulas.ProfitSharing.Services/ItDevOps/StateTaxRatesService.cs
  src/services/src/Demoulas.ProfitSharing.Services/Navigations/ProfitSharingNavigationService.cs
  src/services/src/Demoulas.ProfitSharing.Services/ProfitSharingAdjustmentsService.cs
  src/services/tests/Demoulas.ProfitSharing.UnitTests.Common/Mocks/ScenarioFactory.cs
  src/services/tests/Demoulas.ProfitSharing.UnitTests/Data/Interceptors/AuditSaveChangesInterceptorHashTests.cs
  src/services/tests/Demoulas.ProfitSharing.UnitTests/Reports/YearEnd/ExtractExecutiveHoursAndDollarsTests.cs
  src/services/tests/Demoulas.ProfitSharing.UnitTests/Services/Audit/AuditServiceSearchTests.cs
Due: Check Backend API for vulnerabilities, Analyze Backend Changes (Selective Testing), Build and Test Backend API

Map IAuditService, update NavigationFaker statuses
  src/services/src/Demoulas.ProfitSharing.Services/Extensions/ServicesExtension.cs
  src/services/tests/Demoulas.ProfitSharing.UnitTests.Common/Fakes/NavigationFaker.cs
  src/services/tests/Demoulas.ProfitSharing.UnitTests/Reports/PostFrozen/ProfitSharingUnder21InactiveNoBalanceTests.cs
Due: Check Backend API for vulnerabilities, Analyze Backend Changes (Selective Testing), Build and Test Backend API

Update Demoulas packages and fix audit test request types
  src/services/Directory.Packages.props
  src/services/src/Demoulas.ProfitSharing.Services/Navigations/ProfitSharingNavigationService.cs
  src/services/tests/Demoulas.ProfitSharing.UnitTests/Services/Audit/AuditServiceSearchTests.cs
Due: Check Backend API for vulnerabilities, Analyze Backend Changes (Selective Testing), Build and Test Backend API

Update navigation status API endpoint path
  src/ui/src/reduxstore/api/NavigationStatusApi.ts
Due: Frontend TSC + Lint, Check frontend for vulnerabilities, Build and Test Frontend UI

Add xUnit collection and interface using to ApiTestBase
  src/services/tests/Demoulas.ProfitSharing.UnitTests.Common/Base/ApiTestBase.cs
Due: Check Backend API for vulnerabilities, Analyze Backend Changes (Selective Testing), Build and Test Backend API

Improve TotalVestedBalance calculation in reports
  src/services/src/Demoulas.ProfitSharing.Services/Reports/AccountHistoryReportService.cs
Due: Check Backend API for vulnerabilities, Analyze Backend Changes (Selective Testing), Build and Test Backend API

Remove vesting logic for age 64 and 65 with 4 years
  src/services/src/Demoulas.ProfitSharing.Services/EmbeddedSqlService.cs
  src/services/src/Demoulas.ProfitSharing.Services/YearEndChangeCalculator.cs
  src/services/src/Demoulas.ProfitSharing.Services/YearEndService.cs
Due: Check Backend API for vulnerabilities, Analyze Backend Changes (Selective Testing), Build and Test Backend API

Remove YearEndChangeCalculator and all related logic
  src/services/src/Demoulas.ProfitSharing.Services/YearEndChangeCalculator.cs
Due: Check Backend API for vulnerabilities, Analyze Backend Changes (Selective Testing), Build and Test Backend API

Update tests for Async service methods and modern C# syntax
  src/services/tests/Demoulas.ProfitSharing.UnitTests/Endpoints/BeneficiaryInquiry/BeneficiaryServiceTest.cs
  src/services/tests/Demoulas.ProfitSharing.UnitTests/Endpoints/Distributions/DistributionRunReportEndpointTests.cs
  src/services/tests/Demoulas.ProfitSharing.UnitTests/Endpoints/Distributions/DistributionRunReportManualChecksEndpointTests.cs
  src/services/tests/Demoulas.ProfitSharing.UnitTests/Endpoints/Distributions/DistributionRunReportOnHoldEndpointTests.cs
  src/services/tests/Demoulas.ProfitSharing.UnitTests/Endpoints/Distributions/DistributionRunReportSummaryEndpointTests.cs
  src/services/tests/Demoulas.ProfitSharing.UnitTests/Endpoints/ItOperations/FreezeDemographicsEndpointTests.cs
  src/services/tests/Demoulas.ProfitSharing.UnitTests/Reports/Adhoc/AccountHistoryReportServiceTests.cs
  src/services/tests/Demoulas.ProfitSharing.UnitTests/Reports/YearEnd/CurrentYearWageReportTests.cs
  src/services/tests/Demoulas.ProfitSharing.UnitTests/Services/Audit/AuditServiceSearchTests.cs
  src/services/tests/Demoulas.ProfitSharing.UnitTests/Services/AuditServiceTests.cs
  src/services/tests/Demoulas.ProfitSharing.UnitTests/Services/BeneficiaryDisbursementServiceTests.cs
  src/services/tests/Demoulas.ProfitSharing.UnitTests/Services/BeneficiaryServiceTests.cs
  src/services/tests/Demoulas.ProfitSharing.UnitTests/Services/DistributionServiceTests.cs
  src/services/tests/Demoulas.ProfitSharing.UnitTests/Services/EmployeeMasterInquiryServiceTests.cs
  src/services/tests/Demoulas.ProfitSharing.UnitTests/Services/EnrollmentSummarizerTests.cs
  src/services/tests/Demoulas.ProfitSharing.UnitTests/Services/ForfeitureAdjustmentServiceTests.cs
  src/services/tests/Demoulas.ProfitSharing.UnitTests/Services/ItDevOps/OracleHcmDiagnosticsServiceTests.cs
  src/services/tests/Demoulas.ProfitSharing.UnitTests/Services/ProfitShareEdit/BeneficiaryTests.cs
  src/services/tests/Demoulas.ProfitSharing.UnitTests/Services/ProfitSharingAdjustmentsServiceTests.cs
  src/services/tests/Demoulas.ProfitSharing.UnitTests/Services/Reports/AdhocTerminatedEmployeesServiceTests.cs
Due: Check Backend API for vulnerabilities, Analyze Backend Changes (Selective Testing), Build and Test Backend API

Refactor endpoint namespaces for improved organization
  src/services/src/Demoulas.ProfitSharing.Endpoints/Endpoints/Administration/Corrections/GetProfitSharingAdjustmentsEndpoint.cs
  src/services/src/Demoulas.ProfitSharing.Endpoints/Endpoints/Administration/Corrections/ProfitDetailReversalsEndpoint.cs
  src/services/src/Demoulas.ProfitSharing.Endpoints/Endpoints/Administration/Corrections/SaveProfitSharingAdjustmentsEndpoint.cs
  src/services/src/Demoulas.ProfitSharing.Endpoints/Endpoints/Beneficiaries/Inquiry/BeneficiaryDetailEndpoint.cs
  src/services/src/Demoulas.ProfitSharing.Endpoints/Endpoints/Beneficiaries/Inquiry/BeneficiaryEndpoint.cs
  src/services/src/Demoulas.ProfitSharing.Endpoints/Endpoints/Beneficiaries/Inquiry/BeneficiarySearchFilterEndpoint.cs
  src/services/src/Demoulas.ProfitSharing.Endpoints/Endpoints/Beneficiaries/Inquiry/BeneficiaryTypeEndpoint.cs
  src/services/src/Demoulas.ProfitSharing.Endpoints/Endpoints/InquiriesAndAdjustments/Inquiries/MasterInquiryFilteredDetailsEndpoint.cs
  src/services/src/Demoulas.ProfitSharing.Endpoints/Endpoints/InquiriesAndAdjustments/Inquiries/MasterInquiryMemberDetailsEndpoint.cs
  src/services/src/Demoulas.ProfitSharing.Endpoints/Endpoints/InquiriesAndAdjustments/Inquiries/MasterInquiryMemberEndpoint.cs
  src/services/src/Demoulas.ProfitSharing.Endpoints/Endpoints/InquiriesAndAdjustments/Inquiries/MasterInquirySearchEndpoint.cs
  src/services/src/Demoulas.ProfitSharing.Endpoints/Endpoints/YearEnd/Validation/GetMasterUpdateValidationEndpoint.cs
  src/services/src/Demoulas.ProfitSharing.Endpoints/Endpoints/YearEnd/Validation/GetProfitSharingReportValidationEndpoint.cs
  src/services/tests/Demoulas.ProfitSharing.UnitTests/Common/Validators/ValidationEndpointAuthorizationTests.cs
  src/services/tests/Demoulas.ProfitSharing.UnitTests/Endpoints/Administration/RmdsFactors/GetAllRmdsFactorsEndpointTests.cs
  src/services/tests/Demoulas.ProfitSharing.UnitTests/Endpoints/Administration/RmdsFactors/GetRmdsFactorByAgeEndpointTests.cs
  src/services/tests/Demoulas.ProfitSharing.UnitTests/Endpoints/Administration/RmdsFactors/UpsertRmdsFactorEndpointTests.cs
  src/services/tests/Demoulas.ProfitSharing.UnitTests/Endpoints/MasterInquiryFilteredDetailsTests.cs
  src/services/tests/Demoulas.ProfitSharing.UnitTests/Endpoints/ProfitDetails/ProfitDetailReversalsEndpointTests.cs
Due: Check Backend API for vulnerabilities, Analyze Backend Changes (Selective Testing), Build and Test Backend API

Add global rate limiting middleware and config support
  src/services/src/Demoulas.ProfitSharing.Api/Extensions/RateLimitingExtensions.cs
  src/services/src/Demoulas.ProfitSharing.Api/Program.cs
  src/services/src/Demoulas.ProfitSharing.Api/appsettings.Testing.json
  src/services/src/Demoulas.ProfitSharing.Api/appsettings.json
Due: Check Backend API for vulnerabilities, Analyze Backend Changes (Selective Testing), Build and Test Backend API

Fix: type mismatch in userRole fallback in rate limiting
  src/services/src/Demoulas.ProfitSharing.Api/Extensions/RateLimitingExtensions.cs
Due: Check Backend API for vulnerabilities, Analyze Backend Changes (Selective Testing), Build and Test Backend API

Rename ProfitSharingProfitSharingAuditService to ProfitSharingAuditService
  src/services/src/Demoulas.ProfitSharing.Services/Audit/ProfitSharingAuditService.cs
  src/services/src/Demoulas.ProfitSharing.Services/Extensions/ServicesExtension.cs
  src/services/tests/Demoulas.ProfitSharing.UnitTests/Reports/YearEnd/ExtractExecutiveHoursAndDollarsTests.cs
  src/services/tests/Demoulas.ProfitSharing.UnitTests/Services/Audit/AuditServiceSearchTests.cs
  src/services/tests/Demoulas.ProfitSharing.UnitTests/Services/AuditServiceTests.cs
Due: Check Backend API for vulnerabilities, Analyze Backend Changes (Selective Testing), Build and Test Backend API

Fix compilation issues
  src/services/tests/Demoulas.ProfitSharing.IntegrationTests/Reports/YearEnd/ProfitEdit/ProfitEditReportTests.cs
  src/services/tests/Demoulas.ProfitSharing.IntegrationTests/Reports/YearEnd/ProfitMaster/ProfitMasterTests.cs
  src/services/tests/Demoulas.ProfitSharing.IntegrationTests/Reports/YearEnd/ProfitShareUpdate/ProfitShareUpdateReport.cs
  src/services/tests/Demoulas.ProfitSharing.IntegrationTests/Reports/YearEnd/YearEndServiceTests.cs
Due: Check Backend API for vulnerabilities, Analyze Backend Changes (Selective Testing), Build and Test Backend API

Bulk create/copy annuity rates for new year
  src/database/ready_import/SQL copy all from ready to smart ps.sql
  src/services/src/Demoulas.ProfitSharing.Common/Contracts/Request/ItOperations/AnnuityRateInputRequest.cs
  src/services/src/Demoulas.ProfitSharing.Common/Contracts/Request/ItOperations/CreateAnnuityRatesRequest.cs
  src/services/src/Demoulas.ProfitSharing.Common/Interfaces/ItOperations/IAnnuityRatesService.cs
  src/services/src/Demoulas.ProfitSharing.Common/Validators/CreateAnnuityRatesRequestValidator.cs
  src/services/src/Demoulas.ProfitSharing.Endpoints/Endpoints/Administration/CreateAnnuityRatesEndpoint.cs
  src/services/src/Demoulas.ProfitSharing.Services/ItDevOps/AnnuityRatesService.cs
  src/services/tests/Demoulas.ProfitSharing.UnitTests/Endpoints/ItOperations/CreateAnnuityRatesRequestValidatorTests.cs
  src/ui/src/pages/Administration/ManageAnnuityRates/ManageAnnuityRates.tsx
  src/ui/src/reduxstore/api/ItOperationsApi.ts
  src/ui/src/types/it-operations/annuity-rates.ts
  src/ui/src/utils/messageDictonary.ts
Due: Frontend TSC + Lint, Check frontend for vulnerabilities, Check Backend API for vulnerabilities, Analyze Backend Changes (Selective Testing), Build and Test Backend API, Build and Test Frontend UI

Refactor annuity rates grid columns to utility module
  src/ui/src/pages/Administration/ManageAnnuityRates/ManageAnnuityRates.tsx
  src/ui/src/pages/Administration/ManageAnnuityRates/ManageAnnuityRatesGridColumns.ts
Due: Frontend TSC + Lint, Check frontend for vulnerabilities, Build and Test Frontend UI

Update async API usage and refactor annuity rates modal
  src/services/Directory.Packages.props
  src/services/tests/Demoulas.ProfitSharing.IntegrationTests/Reports/YearEnd/ProfitEdit/ProfitEditReportTests.cs
  src/services/tests/Demoulas.ProfitSharing.IntegrationTests/Reports/YearEnd/ProfitMaster/ProfitMasterTests.cs
  src/services/tests/Demoulas.ProfitSharing.IntegrationTests/Reports/YearEnd/ProfitShareUpdate/ProfitShareUpdateReport.cs
  src/services/tests/Demoulas.ProfitSharing.IntegrationTests/Reports/YearEnd/YearEndServiceTests.cs
  src/ui/src/pages/Administration/ManageAnnuityRates/ManageAnnuityRates.tsx
  src/ui/src/pages/Administration/ManageAnnuityRates/ManageAnnuityRatesCopyModal.tsx
Due: Frontend TSC + Lint, Check frontend for vulnerabilities, Check Backend API for vulnerabilities, Analyze Backend Changes (Selective Testing), Build and Test Backend API, Build and Test Frontend UI

Refactor RMDs factor endpoint, add telemetry & update tests
  src/services/src/Demoulas.ProfitSharing.Common/Contracts/Request/Administration/GetRmdsFactorByAgeRequest.cs
  src/services/src/Demoulas.ProfitSharing.Endpoints/Endpoints/Administration/RmdsFactors/GetRmdsFactorByAgeEndpoint.cs
  src/services/tests/Demoulas.ProfitSharing.UnitTests/Common/Validators/ValidationEndpointAuthorizationTests.cs
  src/services/tests/Demoulas.ProfitSharing.UnitTests/Endpoints/Administration/RmdsFactors/GetRmdsFactorByAgeEndpointTests.cs
  src/services/tests/Demoulas.ProfitSharing.UnitTests/Endpoints/Administration/RmdsFactors/UpsertRmdsFactorEndpointTests.cs
Due: Check Backend API for vulnerabilities, Analyze Backend Changes (Selective Testing), Build and Test Backend API

Refactor RMDs factor endpoint, remove ILogger dependency
  src/services/src/Demoulas.ProfitSharing.Endpoints/Endpoints/Administration/RmdsFactors/GetRmdsFactorByAgeEndpoint.cs
  src/services/tests/Demoulas.ProfitSharing.UnitTests/Common/Validators/ValidationEndpointAuthorizationTests.cs
Due: Check Backend API for vulnerabilities, Analyze Backend Changes (Selective Testing), Build and Test Backend API

Refactor DuplicateSsnExistsEndpointTests to use GetAsync method and simplify assertions
  src/services/tests/Demoulas.ProfitSharing.UnitTests/Endpoints/Lookups/DuplicateSsnExistsEndpointTests.cs
Due: Check Backend API for vulnerabilities, Analyze Backend Changes (Selective Testing), Build and Test Backend API

Refactor ProfitDetailReversalsEndpointTests to use PostReversalsAsync method for improved readability
  src/services/tests/Demoulas.ProfitSharing.UnitTests/Endpoints/ProfitDetails/ProfitDetailReversalsEndpointTests.cs
Due: Check Backend API for vulnerabilities, Analyze Backend Changes (Selective Testing), Build and Test Backend API

Refactor endpoint tests to use new API client methods and enable parallel execution for Lookup and Profit Details test collections
  src/services/tests/Demoulas.ProfitSharing.UnitTests/Endpoints/Lookups/DuplicateSsnExistsEndpointTests.cs
  src/services/tests/Demoulas.ProfitSharing.UnitTests/Endpoints/ProfitDetails/ProfitDetailReversalsEndpointTests.cs
  src/services/tests/Demoulas.ProfitSharing.UnitTests/TestCollectionDefinitions.cs
Due: Check Backend API for vulnerabilities, Analyze Backend Changes (Selective Testing), Build and Test Backend API

Update report resource names in tests for consistency and accuracy
  src/services/tests/Demoulas.ProfitSharing.IntegrationTests/Reports/Termination/QPay066ReportParserTests.cs
  src/services/tests/Demoulas.ProfitSharing.IntegrationTests/Reports/YearEnd/PAY426/Pay426ParserTests.cs
  src/services/tests/Demoulas.ProfitSharing.IntegrationTests/Reports/YearEnd/PAY426N/Pay426N9ParserTests.cs
  src/services/tests/Demoulas.ProfitSharing.IntegrationTests/Reports/YearEnd/QPAY129/QPAY129Test.cs
Due: Check Backend API for vulnerabilities, Analyze Backend Changes (Selective Testing), Build and Test Backend API

Enable parallel execution for Beneficiary Tests collection
  src/services/tests/Demoulas.ProfitSharing.UnitTests/TestCollectionDefinitions.cs
Due: Check Backend API for vulnerabilities, Analyze Backend Changes (Selective Testing), Build and Test Backend API

Enable parallel execution for IT Operations Tests collection
  src/services/tests/Demoulas.ProfitSharing.UnitTests/TestCollectionDefinitions.cs
Due: Check Backend API for vulnerabilities, Analyze Backend Changes (Selective Testing), Build and Test Backend API

Enhance security: analyzers, session, and auth state
  src/services/Directory.Build.props
  src/services/Directory.Packages.props
  src/services/src/Demoulas.ProfitSharing.Api/Program.cs
  src/services/src/Demoulas.ProfitSharing.Data.Cli/Program.cs
  src/services/src/Demoulas.ProfitSharing.OracleHcm/Extensions/OracleHcmExtension.cs
  src/services/src/Demoulas.ProfitSharing.Services/Middleware/EndpointInstrumentationMiddleware.cs
  src/ui/eslint.config.mjs
  src/ui/src/components/ProtectedRoute/ProtectedRoute.tsx
  src/ui/src/middleware/apiLoggerMiddleware.ts
  src/ui/src/pages/Dev/DevDebug.tsx
  src/ui/src/reduxstore/slices/securitySlice.ts
Due: Frontend TSC + Lint, Check frontend for vulnerabilities, Check Backend API for vulnerabilities, Analyze Backend Changes (Selective Testing), Build and Test Backend API, Build and Test Frontend UI
