Repository edfactor/encyclo-mapoli: changes, and which Bitbucket steps are due for each by the changed paths.
All: Frontend TSC + Lint, Check frontend for vulnerabilities, Check Backend API for vulnerabilities, Analyze Backend Changes (Selective Testing), Build and Test Backend API, Build and Test Frontend UI

Frontend TSC + Lint:
  image: node:22-alpine
  max-time: 10
  script:
  - cd src/ui
  - echo "Running frontend tsc and linting on cloud runner..."
  - apk add --no-cache git
  - npm install -g npm@latest
  - 'cat > .npmrc << EOF
  
    registry=https://demoulas.jfrog.io/artifactory/api/npm/demoulas-npm-virt/
  
  ...

Check frontend for vulnerabilities:
  image: node:22-alpine
  max-time: 10
  script:
  - cd src/ui
  - echo "Checking npm vulnerabilities on cloud runner..."
  - 'cat > .npmrc << EOF
  
    registry=https://demoulas.jfrog.io/artifactory/api/npm/demoulas-npm-virt/
  
  ...

Check Backend API for vulnerabilities:
  runs-on:
  - windows
  - self.hosted
  script:
  - $env:SolutionDir = ".\src\services"
  - echo "Checking dotnet vulnerabilities"
  - cd $env:SolutionDir
  - dotnet --info
  - dotnet nuget list source
  - dotnet restore Demoulas.ProfitSharing.slnx
  ...

Analyze Backend Changes (Selective Testing):
  runs-on:
  - windows
  - self.hosted
  artifacts:
  - selective-test-decision.json
  script:
  ...

Build and Test Backend API:
  runs-on:
  - windows
  - self.hosted
  script:
  ...

Build and Test Frontend UI:
  image: node:22-alpine
  max-time: 10
  artifacts:
  - src/ui/coverage/**
  - src/ui/FE_Tests/**
  script:
  - cd src/ui
  - echo "Running frontend tests on cloud runner..."
  - apk add --no-cache git
  - npm install -g npm@latest
  - npm config list --json
  - env | grep -i npm_config
  - 'cat > .npmrc << EOF
  
  ...

Fix path error for front end test detection
  bitbucket-pipelines.yml
Due: none

Call correct API
  src/ui/src/reduxstore/api/YearsEndApi.ts
Due: Frontend TSC + Lint, Check frontend for vulnerabilities, Build and Test Frontend UI

Improve search fields
  src/ui/src/pages/DecemberActivities/ManageExecutiveHoursAndDollars/ManageExecutiveHoursAndDollarsSearchFilter.tsx
Due: Frontend TSC + Lint, Check frontend for vulnerabilities, Build and Test Frontend UI

Fix places in UI which used current year rather than time provider.
  src/ui/src/hooks/useFiscalCloseProfitYear.ts
  src/ui/src/hooks/useNavigationYear.ts
  src/ui/src/pages/DecemberActivities/ForfeituresAdjustment/ForfeituresAdjustmentSearchFilter.tsx
  src/ui/src/pages/DecemberActivities/ManageExecutiveHoursAndDollars/hooks/useManageExecutiveHoursAndDollars.ts
  src/ui/src/pages/FiscalClose/PAY426Reports/PAY426N/PAY426N.tsx
  src/ui/src/pages/FiscalClose/Profall/ProfallGrid.tsx
  src/ui/src/pages/FiscalClose/ProfitShareByStore/Under21/Under21TA.tsx
  src/ui/src/pages/FiscalClose/ReprintCertificates/ReprintCertificates.tsx
  src/ui/src/pages/InquiriesAndAdjustments/Adjustments.tsx
  src/ui/src/pages/Reports/AccountHistoryReport/AccountHistoryReport.tsx
  src/ui/src/pages/Reports/AdhocProfLetter73/AdhocProfLetter73SearchFilter.tsx
  src/ui/src/pages/Reports/PayBeNext/hooks/usePayBeNextReducer.ts
Due: Frontend TSC + Lint, Check frontend for vulnerabilities, Build and Test Frontend UI

src cleanup
  src/ui/package.json
  src/ui/src/pages/FiscalClose/Profall/ProfallGrid.tsx
  src/ui/src/pages/FiscalClose/ProfitShareByStore/Under21/Under21TA.tsx
Due: Frontend TSC + Lint, Check frontend for vulnerabilities, Build and Test Frontend UI

Migrate to React Router v7 data router with loaders
  src/ui/package-lock.json
  src/ui/package.json
  src/ui/public/docs/REACT_ROUTER_V7_MIGRATION_SUMMARY.md
  src/ui/src/App.tsx
  src/ui/src/Okta/OktaProvider.tsx
  src/ui/src/components/Login/Login.tsx
  src/ui/src/components/router/LoaderErrorBoundary.tsx
  src/ui/src/components/router/RootLayout.tsx
  src/ui/src/components/router/RouteSecurity.tsx
  src/ui/src/components/router/Router.tsx
  src/ui/src/components/router/RouterSubAssembly.tsx
  src/ui/src/components/router/loaders.ts
  src/ui/src/components/router/routeConfig.tsx
  src/ui/src/hooks/useFiscalCloseProfitYear.test.tsx
  src/ui/src/hooks/useUnsavedChangesGuard.test.tsx
  src/ui/src/hooks/useUnsavedChangesGuard.ts
  src/ui/src/pages/DecemberActivities/NegativeEtvaForSSNsOnPayprofit/NegativeEtvaForSSNsOnPayprofitGrid.tsx
  src/ui/src/pages/FiscalClose/Forfeit/ForfeitGrid.tsx
  src/ui/src/pages/FiscalClose/PaymasterUpdate/PayMasterUpdateGrid.tsx
  src/ui/src/pages/FiscalClose/Profall/ProfallGrid.tsx
  src/ui/src/pages/FiscalClose/ProfitShareByStore/Under21ReportGrid.tsx
  src/ui/src/pages/FiscalClose/ProfitShareGrossReport/ProfitShareGrossReportGrid.tsx
  src/ui/src/pages/FiscalClose/ProfitShareTotals426/ProfitShareTotals426.tsx
  src/ui/src/reduxstore/store.ts
Due: Frontend TSC + Lint, Check frontend for vulnerabilities, Build and Test Frontend UI

PS-2459: Refactor test router setup in useUnsavedChangesGuard tests
  src/ui/src/hooks/useUnsavedChangesGuard.test.tsx
Due: Frontend TSC + Lint, Check frontend for vulnerabilities, Build and Test Frontend UI

PS-2459: Refactor comments and formatting across multiple components for clarity and consistency
  src/ui/src/App.tsx
  src/ui/src/Okta/OktaProvider.tsx
  src/ui/src/components/Login/Login.tsx
  src/ui/src/components/router/LoaderErrorBoundary.tsx
  src/ui/src/components/router/RootLayout.tsx
  src/ui/src/components/router/RouteSecurity.tsx
  src/ui/src/components/router/Router.tsx
  src/ui/src/components/router/loaders.ts
  src/ui/src/components/router/routeConfig.tsx
  src/ui/src/hooks/useUnsavedChangesGuard.test.tsx
  src/ui/src/hooks/useUnsavedChangesGuard.ts
  src/ui/src/pages/DecemberActivities/DuplicateNamesAndBirthdays/DuplicateNamesAndBirthdays.tsx
  src/ui/src/pages/DecemberActivities/ForfeituresAdjustment/ForfeituresAdjustmentSearchFilter.tsx
  src/ui/src/pages/DecemberActivities/ManageExecutiveHoursAndDollars/ManageExecutiveHoursAndDollarsSearchFilter.tsx
  src/ui/src/pages/Reports/AccountHistoryReport/AccountHistoryReport.tsx
  src/ui/src/pages/Reports/AdhocProfLetter73/hooks/__test__/useAdhocProfLetter73Print.test.ts
Due: Frontend TSC + Lint, Check frontend for vulnerabilities, Build and Test Frontend UI

PS-2459: Add EXECUTIVE_ADMINISTRATOR role assignments to navigation items
  src/database/ready_import/Navigations/add-uat-navigation-data.sql
Due: none

Refactor check run print workflow; add print file service
  .github/instructions/code-review.instructions.md
  src/services/src/Demoulas.ProfitSharing.Api/nswag.json
  src/services/src/Demoulas.ProfitSharing.Common/Contracts/Request/CheckRun/CheckRunPrinterType.cs
  src/services/src/Demoulas.ProfitSharing.Common/Contracts/Request/CheckRun/CheckRunStartRequest.cs
  src/services/src/Demoulas.ProfitSharing.Common/Contracts/Response/CheckRun/CheckRunPrintFileResult.cs
  src/services/src/Demoulas.ProfitSharing.Common/Interfaces/CheckRun/ICheckRunPrintFileService.cs
  src/services/src/Demoulas.ProfitSharing.Common/Validators/CheckRunStartRequestValidator.cs
  src/services/src/Demoulas.ProfitSharing.Data/Contexts/EntityMapping/BankMap.cs
  src/services/src/Demoulas.ProfitSharing.Data/Contexts/EntityMapping/ProfitShareCheckMap.cs
  src/services/src/Demoulas.ProfitSharing.Data/Contexts/ProfitSharingDbContext.cs
  src/services/src/Demoulas.ProfitSharing.Data/Contexts/ProfitSharingReadOnlyDbContext.cs
  src/services/src/Demoulas.ProfitSharing.Data/Entities/Bank.cs
  src/services/src/Demoulas.ProfitSharing.Data/Entities/ProfitShareCheck.cs
  src/services/src/Demoulas.ProfitSharing.Data/Extensions/ContextExtensions.cs
  src/services/src/Demoulas.ProfitSharing.Data/Interfaces/IProfitSharingDbContext.cs
  src/services/src/Demoulas.ProfitSharing.Data/Migrations/20260111210131_LinkProfitShareCheckToWorkflow.Designer.cs
  src/services/src/Demoulas.ProfitSharing.Data/Migrations/20260111210131_LinkProfitShareCheckToWorkflow.cs
  src/services/src/Demoulas.ProfitSharing.Data/Migrations/20260111213007_AddProfitShareCheckNumberSequence.Designer.cs
  src/services/src/Demoulas.ProfitSharing.Data/Migrations/20260111213007_AddProfitShareCheckNumberSequence.cs
  src/services/src/Demoulas.ProfitSharing.Data/Migrations/20260111220631_AddBankTable.Designer.cs
  src/services/src/Demoulas.ProfitSharing.Data/Migrations/20260111220631_AddBankTable.cs
  src/services/src/Demoulas.ProfitSharing.Data/Migrations/ProfitSharingDbContextModelSnapshot.cs
  src/services/src/Demoulas.ProfitSharing.Endpoints/Endpoints/CheckRun/CheckRunStartEndpoint.cs
  src/services/src/Demoulas.ProfitSharing.Services/CheckRun/CheckRunPrintFileService.cs
  src/services/src/Demoulas.ProfitSharing.Services/Extensions/ServicesExtension.cs
  src/services/src/Demoulas.ProfitSharing.Services/PrintFormatting/MicrFormatterFactory.cs
  src/services/src/Demoulas.ProfitSharing.Services/PrintFormatting/NewtekCheckMicrFormatter.cs
  src/services/tests/Demoulas.ProfitSharing.UnitTests/Services/PrintFormatting/MicrFormatterFactoryTests.cs
Due: Check Backend API for vulnerabilities, Analyze Backend Changes (Selective Testing), Build and Test Backend API

Changed delete beneficiaries logic from hard delete to soft delete.
  src/services/src/Demoulas.ProfitSharing.Api/nswag.json
  src/services/src/Demoulas.ProfitSharing.Data/Entities/Beneficiary.cs
  src/services/src/Demoulas.ProfitSharing.Data/Entities/BeneficiaryContact.cs
  src/services/src/Demoulas.ProfitSharing.Data/Migrations/20260108192459_AddIsDeletedToBeneficiaries.Designer.cs
  src/services/src/Demoulas.ProfitSharing.Data/Migrations/20260108192459_AddIsDeletedToBeneficiaries.cs
  src/services/src/Demoulas.ProfitSharing.Data/Migrations/ProfitSharingDbContextModelSnapshot.cs
  src/services/src/Demoulas.ProfitSharing.Services/Beneficiaries/BeneficiaryService.cs
  src/services/src/Demoulas.ProfitSharing.Services/BeneficiaryInquiry/BeneficiaryInquiryService.cs
  src/services/src/Demoulas.ProfitSharing.Services/DistributionService.cs
  src/services/src/Demoulas.ProfitSharing.Services/MasterInquiry/BeneficiaryMasterInquiryService.cs
  src/services/src/Demoulas.ProfitSharing.Services/MasterInquiry/MasterInquiryService.cs
  src/services/src/Demoulas.ProfitSharing.Services/ProfitShareEdit/BeneficiariesProcessingHelper.cs
  src/services/src/Demoulas.ProfitSharing.Services/Reports/AdhocBeneficiariesReport.cs
  src/services/src/Demoulas.ProfitSharing.Services/Reports/CleanupReportService.cs
  src/services/src/Demoulas.ProfitSharing.Services/Reports/ForfeituresAndPointsForYearService.cs
  src/services/src/Demoulas.ProfitSharing.Services/Reports/FrozenReportService.cs
  src/services/src/Demoulas.ProfitSharing.Services/Reports/PayBenReportService.cs
  src/services/src/Demoulas.ProfitSharing.Services/Reports/PostFrozenService.cs
  src/services/src/Demoulas.ProfitSharing.Services/Reports/TerminatedEmployeeAndBeneficiaryReport/TerminatedEmployeeReportService.cs
Due: Check Backend API for vulnerabilities, Analyze Backend Changes (Selective Testing), Build and Test Backend API

Refactor banking model, migrations, and validation logic
  src/services/Directory.Packages.props
  src/services/src/Demoulas.ProfitSharing.Data/Contexts/EntityMapping/BankAccountMap.cs
  src/services/src/Demoulas.ProfitSharing.Data/Contexts/EntityMapping/BankMap.cs
  src/services/src/Demoulas.ProfitSharing.Data/Migrations/20260111210131_LinkProfitShareCheckToWorkflow.Designer.cs
  src/services/src/Demoulas.ProfitSharing.Data/Migrations/20260111210131_LinkProfitShareCheckToWorkflow.cs
  src/services/src/Demoulas.ProfitSharing.Data/Migrations/20260111213007_AddProfitShareCheckNumberSequence.cs
  src/services/src/Demoulas.ProfitSharing.Data/Migrations/20260111220631_AddBankTable.Designer.cs
  src/services/src/Demoulas.ProfitSharing.Data/Migrations/20260111220631_AddBankTable.cs
  src/services/src/Demoulas.ProfitSharing.Data/Migrations/20260112024258_AddBankAccountTable.cs
  src/services/src/Demoulas.ProfitSharing.Data/Migrations/20260112190751_useBankingInfoTables.Designer.cs
  src/services/src/Demoulas.ProfitSharing.Data/Migrations/20260112190751_useBankingInfoTables.cs
  src/services/src/Demoulas.ProfitSharing.Data/Migrations/20260112192309_FixBankAccountSequenceStart.Designer.cs
  src/services/src/Demoulas.ProfitSharing.Data/Migrations/20260112192309_FixBankAccountSequenceStart.cs
  src/services/src/Demoulas.ProfitSharing.Data/Migrations/ProfitSharingDbContextModelSnapshot.cs
  src/services/src/Demoulas.ProfitSharing.Services/Administration/BankAccountService.cs
  src/services/tests/Demoulas.ProfitSharing.UnitTests.Architecture/Demoulas.ProfitSharing.UnitTests.Architecture.csproj
  src/ui/src/pages/Administration/ManageBanks/ManageBanks.tsx
  src/ui/src/pages/Administration/ManageBanks/components/CreateBankAccountDialog.tsx
  src/ui/src/pages/Administration/ManageBanks/components/ManageBankAccounts.tsx
  src/ui/src/utils/bankValidation.ts
Due: Frontend TSC + Lint, Check frontend for vulnerabilities, Check Backend API for vulnerabilities, Analyze Backend Changes (Selective Testing), Build and Test Backend API, Build and Test Frontend UI

Add unit tests for modernized banking model & update docs
  docs/PS-BANK-MODERNIZATION-PHASE1-IMPLEMENTATION.md
  src/services/tests/Demoulas.ProfitSharing.UnitTests.Common/Mocks/ScenarioFactory.cs
  src/services/tests/Demoulas.ProfitSharing.UnitTests/Services/BankAccountServiceTests.cs
  src/services/tests/Demoulas.ProfitSharing.UnitTests/Services/BankServiceTests.cs
Due: Check Backend API for vulnerabilities, Analyze Backend Changes (Selective Testing), Build and Test Backend API

Refactor bank management: hooks, Yup forms, grid columns
  .github/instructions/ui.pages.instructions.md
  .github/skills/front-end-code-review/SKILL.md
  ai-templates/front-end/fe-input-form-validation.md
  ai-templates/main-includes/front-end.md
  docs/FRONT_END_PATTERNS.md
  src/ui/src/pages/Administration/ManageBanks/ManageBanks.tsx
  src/ui/src/pages/Administration/ManageBanks/components/CreateBankDialog.tsx
  src/ui/src/pages/Administration/ManageBanks/components/ManageBankAccounts.tsx
  src/ui/src/pages/Administration/ManageBanks/components/ManageBankAccountsColumns.tsx
  src/ui/src/pages/Administration/ManageBanks/hooks/useEditableBankAccounts.ts
  src/ui/src/pages/Administration/ManageBanks/hooks/useManageBankAccounts.ts
  src/ui/src/pages/Administration/ManageBanks/hooks/useManageBanks.ts
  src/ui/src/reduxstore/api/administrationApi.ts
Due: Frontend TSC + Lint, Check frontend for vulnerabilities, Build and Test Frontend UI

Refactor ManageBanks grid columns and form handling
  src/ui/src/pages/Administration/ManageBanks/ManageBanks.tsx
  src/ui/src/pages/Administration/ManageBanks/ManageBanksColumns.tsx
  src/ui/src/pages/Administration/ManageBanks/components/CreateBankDialog.tsx
Due: Frontend TSC + Lint, Check frontend for vulnerabilities, Build and Test Frontend UI

Add Prof Letter73 nav item, refactor bank columns/forms
  src/database/ready_import/Navigations/add-uat-navigation-data.sql
  src/ui/src/pages/Administration/ManageBanks/ManageBanksColumns.tsx
  src/ui/src/pages/Administration/ManageBanks/components/CreateBankDialog.tsx
Due: Frontend TSC + Lint, Check frontend for vulnerabilities, Build and Test Frontend UI

Refactor CreateBankDialog form to use required strings
  src/ui/src/pages/Administration/ManageBanks/components/CreateBankDialog.tsx
Due: Frontend TSC + Lint, Check frontend for vulnerabilities, Build and Test Frontend UI

Fix getBankById query URL in AdministrationApi
  src/ui/src/reduxstore/api/administrationApi.ts
Due: Frontend TSC + Lint, Check frontend for vulnerabilities, Build and Test Frontend UI

used member detail component to show details instead of beneficiary Detail.
  .github/instructions/code-review.instructions.md
  src/services/src/Demoulas.ProfitSharing.Api/nswag.json
  src/services/src/Demoulas.ProfitSharing.Common/Contracts/Request/BeneficiaryInquiry/BeneficiaryDetailRequest.cs
  src/services/src/Demoulas.ProfitSharing.Common/Contracts/Response/BeneficiaryInquiry/BeneficiarySearchFilterResponse.cs
  src/services/src/Demoulas.ProfitSharing.Services/BeneficiaryInquiry/BeneficiaryInquiryService.cs
  src/ui/src/pages/Beneficiaries/BeneficiaryInquiry.tsx
  src/ui/src/pages/Beneficiaries/IndividualBeneficiaryView.tsx
  src/ui/src/types/beneficiary/beneficiary.ts
Due: Frontend TSC + Lint, Check frontend for vulnerabilities, Check Backend API for vulnerabilities, Analyze Backend Changes (Selective Testing), Build and Test Backend API, Build and Test Frontend UI

remove unneccesaary file generation.
  .github/instructions/code-review.instructions.md
Due: none

resolve pipeline issues.
  src/ui/src/pages/Beneficiaries/hooks/__test__/useBeneficiaryRelationshipData.test.ts
  src/ui/src/pages/Beneficiaries/hooks/useBeneficiaryRelationshipData.ts
Due: Frontend TSC + Lint, Check frontend for vulnerabilities, Build and Test Frontend UI

fixed pipeline issue.
  src/ui/src/pages/Beneficiaries/hooks/useBeneficiaryRelationshipData.ts
Due: Frontend TSC + Lint, Check frontend for vulnerabilities, Build and Test Frontend UI

fixed suggestions asked by Phil in the PR.
  src/ui/src/pages/Beneficiaries/BeneficiaryInquiry.tsx
  src/ui/src/pages/Beneficiaries/IndividualBeneficiaryView.tsx
Due: Frontend TSC + Lint, Check frontend for vulnerabilities, Build and Test Frontend UI

PS-2276 Save forfeit from terminations screen
  src/database/ready_import/SQL copy all from ready to smart ps.sql
  src/services/src/Demoulas.ProfitSharing.Common/Contracts/Request/ForfeitureAdjustmentUpdateRequest.cs
  src/services/src/Demoulas.ProfitSharing.Endpoints/Endpoints/Reports/YearEnd/ForfeitureAdjustment/UpdateForfeitureAdjustmentEndpoint.cs
  src/services/src/Demoulas.ProfitSharing.Services/EmbeddedSqlService.cs
  src/services/src/Demoulas.ProfitSharing.Services/ForfeitureAdjustmentService.cs
  src/services/src/Demoulas.ProfitSharing.Services/Reports/TerminatedEmployeeAndBeneficiaryReport/TerminatedEmployeeReportService.cs
  src/services/tests/Demoulas.ProfitSharing.IntegrationTests/Reports/Termination/TerminatedEmployeeAndBeneficiaryReportIntegrationTests.cs
  src/services/tests/Demoulas.ProfitSharing.UnitTests/Services/ForfeitureAdjustmentServiceTests.cs
Due: Check Backend API for vulnerabilities, Analyze Backend Changes (Selective Testing), Build and Test Backend API

Add validation for QPAY066TA
  .claude/settings.local.json
  .github/instructions/demoulas.common.contracts.instructions.md
  src/services/src/Demoulas.ProfitSharing.Common/Contracts/Response/YearEnd/BreakdownByStoreTotals.cs
  src/services/src/Demoulas.ProfitSharing.Common/Contracts/Response/YearEnd/Frozen/ProfitShareUpdateTotals.cs
  src/services/src/Demoulas.ProfitSharing.Common/Contracts/Response/YearEnd/ProfitShareEditResponse.cs
  src/services/src/Demoulas.ProfitSharing.Common/Interfaces/ICrossReferenceValidationService.cs
  src/services/src/Demoulas.ProfitSharing.Endpoints/Endpoints/CrossReference/GetMasterUpdateValidationEndpoint.cs
  src/services/src/Demoulas.ProfitSharing.Endpoints/Endpoints/Reports/YearEnd/ProfitMaster/ProfitMasterUpdateEndpoint.cs
  src/services/src/Demoulas.ProfitSharing.Services/ItDevOps/FrozenService.cs
  src/services/src/Demoulas.ProfitSharing.Services/Reports/Breakdown/BreakdownReportService.cs
  src/services/src/Demoulas.ProfitSharing.Services/Validation/CrossReferenceValidationService.cs
  src/services/tests/Demoulas.ProfitSharing.UnitTests/Reports/Adhoc/AccountHistoryReportServiceTests.cs
  src/services/tests/Demoulas.ProfitSharing.UnitTests/Reports/YearEnd/ProfitSharingSummaryReportRegressionTests.cs
  src/ui/src/pages/FiscalClose/ProfitShareByStore/BreakdownReport/TotalsContent.tsx
  src/ui/src/pages/FiscalClose/ProfitShareEditUpdate/hooks/useProfitShareEditUpdate.ts
  src/ui/src/types/reports/breakdown.ts
  src/ui/src/types/reports/profit-sharing.ts
Due: Frontend TSC + Lint, Check frontend for vulnerabilities, Check Backend API for vulnerabilities, Analyze Backend Changes (Selective Testing), Build and Test Backend API, Build and Test Frontend UI

fixed pipeline issue.
  src/ui/src/pages/Beneficiaries/IndividualBeneficiaryView.tsx
Due: Frontend TSC + Lint, Check frontend for vulnerabilities, Build and Test Frontend UI

Add TotalVestedBalance to account history report totals
  src/services/src/Demoulas.ProfitSharing.Common/Contracts/Response/AccountHistoryReportTotals.cs
  src/services/src/Demoulas.ProfitSharing.Services/Reports/AccountHistoryReportService.cs
Due: Check Backend API for vulnerabilities, Analyze Backend Changes (Selective Testing), Build and Test Backend API

Move IT_DEVOPS role assignment for YEAR_END_MENU for clarity
  src/database/ready_import/Navigations/add-uat-navigation-data.sql
Due: none

Update .editorconfig: set indent to 4, charset to utf-8
  src/services/.editorconfig
Due: none

Update .editorconfig for formatting and C# style rules
  src/services/.editorconfig
Due: none

Cleanup
  .claude/settings.local.json
  .github/instructions/demoulas.common.contracts.instructions.md
Due: none

PS-2469 Scramble import adjustment
  src/database/ready_import/SQL copy all from ready to smart ps.sql
  src/services/src/Demoulas.ProfitSharing.Data.Cli/GenerateScriptHelper.cs
Due: Check Backend API for vulnerabilities, Analyze Backend Changes (Selective Testing), Build and Test Backend API

Initial EF Core schema and DemographicHistory enhancements
  src/services/.editorconfig
  src/services/README.md
  src/services/src/Demoulas.ProfitSharing.Data/Entities/Demographic.cs
  src/services/src/Demoulas.ProfitSharing.Data/Entities/DemographicHistory.cs
  src/services/src/Demoulas.ProfitSharing.Data/Migrations/20260114174756_initialMigrations.Designer.cs
  src/services/src/Demoulas.ProfitSharing.Data/Migrations/20260114174756_initialMigrations.cs
  src/services/src/Demoulas.ProfitSharing.Data/Migrations/ProfitSharingDbContextModelSnapshot.cs
  src/services/src/Demoulas.ProfitSharing.OracleHcm/Services/DemographicHistoryService.cs
  src/services/tests/Demoulas.ProfitSharing.UnitTests/OracleHcm/Services/DemographicServiceTests.cs
  temp_create_migration.ps1
Due: Check Backend API for vulnerabilities, Analyze Backend Changes (Selective Testing), Build and Test Backend API

Expand schema: add vesting, tax, forfeiture, history
  src/database/ready_import/SQL copy all from ready to smart ps.sql
  src/services/src/Demoulas.ProfitSharing.Data/Contexts/EntityMapping/DemographicHistoryMap.cs
  src/services/src/Demoulas.ProfitSharing.Data/Migrations/20260114181522_initialMigrations.Designer.cs
  src/services/src/Demoulas.ProfitSharing.Data/Migrations/20260114181522_initialMigrations.cs
  src/services/src/Demoulas.ProfitSharing.Data/Migrations/ProfitSharingDbContextModelSnapshot.cs
Due: Check Backend API for vulnerabilities, Analyze Backend Changes (Selective Testing), Build and Test Backend API

fix mapping
  src/services/src/Demoulas.ProfitSharing.Data/Contexts/EntityMapping/BeneficiaryMap.cs
Due: Check Backend API for vulnerabilities, Analyze Backend Changes (Selective Testing), Build and Test Backend API

Add warehouse DB connection support to pipeline
  bitbucket-pipelines.yml
Due: none

resolved PS-2051 (fixing position of add button) and PS-2074 (visibility issue with percentage)
  src/ui/src/pages/Beneficiaries/BeneficiariesListGridColumns.ts
  src/ui/src/pages/Beneficiaries/IndividualBeneficiaryView.tsx
Due: Frontend TSC + Lint, Check frontend for vulnerabilities, Build and Test Frontend UI

Path conditions:
  Frontend TSC + Lint: any of: src/ui/**/*.ts, src/ui/**/*.tsx, src/ui/**/*.js, src/ui/**/*.jsx
  Check frontend for vulnerabilities: any of: src/ui/**
  Check Backend API for vulnerabilities: any of: src/services/**/*.cs, src/services/**/*.csproj, src/services/**/*.sln, src/services/**/*.slnx, src/services/**/*.json, src/services/**/*.config
  Analyze Backend Changes (Selective Testing): any of: src/services/**/*.cs, src/services/**/*.csproj, src/services/**/*.sln, src/services/**/*.slnx, src/services/**/*.json, src/services/**/*.config
  Build and Test Backend API: any of: src/services/**/*.cs, src/services/**/*.csproj, src/services/**/*.sln, src/services/**/*.slnx, src/services/**/*.json, src/services/**/*.config
  Build and Test Frontend UI: any of: src/ui/**/*.ts, src/ui/**/*.tsx, src/ui/**/*.js, src/ui/**/*.jsx
